<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content">

  <!-- --------------------------------------- TITLE BAR IPHONE ----------------------------------------- -->

  <p id="titlebar" *ngIf="plattype != 'ipad'" text-wrap text-center>
    QR Complaint
  </p>

  <!-- --------------------------------------- TITLE BAR IPAD ----------------------------------------- -->

  <p id="titlebar-ipad" *ngIf="plattype == 'ipad'" text-wrap text-center>
    QR Complaint
  </p>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <ion-card>
    <img src="../../assets/imgs/scanqr.jpg" />
    <ion-card-content>
      <ion-card-title>
        <p id="info" text-right text-wrap><span>scan</span> REPORTING QR-CODE</p>
      </ion-card-title>
      <p id="info" text-right text-wrap><span>Start making a complaint by scan an unique Laboratory's QR-Code</span></p>
    </ion-card-content>
    <hr>
    <ion-row no-padding>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start (click)="scanCode()">
          <ion-icon name='qr-scanner'></ion-icon>Scan QR-Code
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <div *ngIf="labId!=''">

    <div *ngFor="let item of items">

      <ion-card *ngIf="item.LABID != 'X'">
        <ion-card-header>
          <p id="info" text-wrap text-uppercase>{{item.LABNAME}}</p>
        </ion-card-header>

        <ion-list>
          <button ion-item (click)="openModal(1, item.LABID)">
            <ion-icon name="cart" item-start></ion-icon>
            <p id="info" text-wrap><span>Laboratory Damage</span></p>
          </button>

          <button ion-item (click)="openModal(2, item.LABID)">
            <ion-icon name="medical" item-start></ion-icon>
            <p id="info" text-wrap><span>Equipment Damage</span></p>
          </button>

          <button ion-item (click)="openModal(3, item.LABID)">
            <ion-icon name="cafe" item-start></ion-icon>
            <p id="info" text-wrap><span>Glassware & Consumable Damage</span></p>
          </button>

          <button ion-item (click)="openModal(4, item.LABID)">
            <ion-icon name="paw" item-start></ion-icon>
            <p id="info" text-wrap><span>Electrical Demage/Failure</span></p>
          </button>

        </ion-list>
      </ion-card>

    </div>

  </div>

</ion-content>
