<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">&nbsp;X&nbsp;</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content">

  <div class="box" *ngFor="let user of users">

    <div align="center">

      <img id="profile-image" src="../../assets/imgs/placeholder-profile.jpg"
        src-fallback="https://i0.wp.com/ebus.ca/wp-content/uploads/2017/08/profile-placeholder.jpg?ssl=1">
      <br>
      <p id="info" text-center text-wrap>{{user.NAMA}}<br><span>{{user.NOKP}}</span></p>
      <p id="infomohon" text-center text-wrap><span>{{user.AGENSI}}<br>{{user.JAWATAN}} ({{user.GRED}})<br>{{user.ALAMAT_AGENSI}}</span></p>

      <hr>

      <p id="infomohon" text-center text-wrap><span>{{user.EMAIL}}<br>{{user.NOTEL}}</span></p>

    </div>

    <!-- <p id="info" text-wrap text-left text-uppercase>NAME<br><span>{{user.NAMA}}</span></p>
    <p id="info" text-wrap text-left text-uppercase>ID NUMBER<br><span>{{user.NOKP}}</span></p>
    <p id="info" text-wrap text-left text-uppercase>ADRESS<br><span>{{user.ALAMAT}}</span></p>
    <p id="info" text-wrap text-left text-uppercase>PHONE NO.<br><span>{{user.NOTEL}}</span></p>
    <p id="info" text-wrap text-left text-uppercase>EMAIL<br><span>{{user.EMAIL}}</span></p>

    <hr>

    <p id="info" text-wrap text-left text-uppercase>AGENCY<br><span>{{user.AGENSI}}</span></p>
    <p id="info" text-wrap text-left text-uppercase>ADDRESS<br><span>{{user.ALAMAT_AGENSI}}</span></p>
    <p id="info" text-wrap text-left text-uppercase>POST<br><span>{{user.JAWATAN}}</span></p>
    <p id="info" text-wrap text-left text-uppercase>GRADE<br><span>{{user.GRED}}</span></p>

    <hr>

    <p id="info" text-wrap text-left text-uppercase>APPLY DATE<br><span>{{user.DATE_APPLY}}</span></p> -->

  </div>

</ion-content>
