<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- --------------------------------------- TITLE BAR IPHONE ----------------------------------------- -->

  <p id="titlebar" *ngIf="plattype != 'ipad'" text-wrap text-center>
    Helpdesk
  </p>

  <!-- --------------------------------------- TITLE BAR IPAD ----------------------------------------- -->

  <p id="titlebar-ipad" *ngIf="plattype == 'ipad'" text-wrap text-center>
    Helpdesk
  </p>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <div *ngIf="plattype != 'ipad'" class="ibox-phone">

    <ion-list>
      <ion-item *ngFor="let help of helps" no-lines>

          <div class="chat-message" text-right *ngIf="help.TYPE == 'USER'">
            <div class="right-bubble">
              <span class="msg-name">Me</span>
              <span class="msg-date">{{help.TARIKH}} ({{help.MASA}})</span>
              <p text-wrap>{{help.KOMEN}}</p>
            </div>
          </div>

          <div class="chat-message" text-left *ngIf="help.TYPE == 'RESPONDER'">
            <div class="left-bubble">
              <span class="msg-name">Admin</span>
              <span class="msg-date">{{help.TARIKH}} ({{help.MASA}})</span>
              <p text-wrap>{{help.KOMEN}}</p>
            </div>
          </div>

      </ion-item>
    </ion-list>

  </div>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <div *ngIf="plattype == 'ipad'" class="ibox">

    <ion-list>
      <ion-item *ngFor="let help of helps" no-lines>

          <div class="chat-message" text-right *ngIf="help.TYPE == 'USER'">
            <div class="right-bubble">
              <span class="msg-name">Me</span>
              <span class="msg-date">{{help.TARIKH}} ({{help.MASA}})</span>
              <p text-wrap>{{help.KOMEN}}</p>
            </div>
          </div>

          <div class="chat-message" text-left *ngIf="help.TYPE == 'RESPONDER'">
            <div class="left-bubble">
              <span class="msg-name">Admin</span>
              <span class="msg-date">{{help.TARIKH}} ({{help.MASA}})</span>
              <p text-wrap>{{help.KOMEN}}</p>
            </div>
          </div>

      </ion-item>
    </ion-list>

  </div>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" placeholder="Type a message" name="message" #message [(ngModel)]="data.message"></ion-input>
      </ion-col>
      <ion-col col-2 (click)="sendMessage()">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
