.ios, .md {

  page-login {

    .login-content {

      background: url('../../assets/imgs/login_bg.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .logo-row {
        padding-top: 15px;
        padding-bottom: 10px;
      }

      .login-box {
        background: rgba(37, 37, 37, 0.253);
        border-radius: 20px;
        padding: 20px 20px 0px 20px;
        margin-top: 0px;
      }

      ion-row {
        align-items: center;
        text-align: center;
      }

      ion-item {
        border-radius: 30px !important;
        padding-left: 30px !important;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
      }

      .signup-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 0px;
      }

      .home-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 20px;
      }

      .item-inner {
        border-bottom-color: #ffffff !important;
        box-shadow: none !important;
      }

      .submit-btn {
        background-color: map-get($colors, primary);
        border-radius: 30px !important;
        border: 1px solid #ffffff;
      }

      .home-btn {
        background-color: map-get($colors, dark);
        border-radius: 50px !important;
        border: 1px solid #ffffff;
      }

      .register-btn {
        color: #ffffff;
        font-size: 0.8em;
      }

      .hurufkecik{
        text-transform: lowercase;
      }

    }

    .btn1{
      margin-top:2vh;
    }

    ion-label{
      padding-top: 0.5em;
      padding-left: 1em;
    }

    ion-input{
      background: rgba(255, 255, 255, 0.1);
    }

    .logo{
      text-align:center;
      margin: 10em auto 15em auto;
    }

  }

}
