<ion-content class="login-content" padding>

  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col col-8>
      <img src="../../assets/imgs/smartlab_logo.png" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <br><br><br>&nbsp;

  <div class="ibox-phone" *ngIf="plattype != 'ipad'">

    <ion-row>
      <ion-col>
        <ion-list inset>

          <ion-item>
            <ion-input type="text" class="hurufkecik" placeholder="Username" name="userid" #userid text-lowercase>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Password" name="passwd" #passwd></ion-input>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="submit-btn" full type="submit" (click)="onLogin()">Login</button>
      </ion-col>
    </ion-row>

    <br>&nbsp;

  </div>

  <div class="ibox" *ngIf="plattype == 'ipad'">

    <ion-row>
      <ion-col>
        <ion-list inset>

          <ion-item>
            <ion-input type="text" class="hurufkecik" placeholder="Username" name="userid" #userid text-lowercase>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Password" name="passwd" #passwd></ion-input>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="signup-col">
        <button ion-button class="submit-btn" full type="submit" (click)="onLogin()">Login</button>
      </ion-col>
    </ion-row>

    <br>&nbsp;

  </div>

  <ion-fab center bottom>
    <button ion-fab color="vibrant" (click)="register()">
      <ion-icon name="custom-home"></ion-icon>
    </button>
  </ion-fab>

  <br>&nbsp;<br>&nbsp;

  <!-- <ion-row>
    <ion-col class="home-col">
      <button ion-button icon-start (click)="goToPage('Register')" color="light" class="home-btn">
        <ion-icon name="clipboard"></ion-icon>
        Register
      </button>
    </ion-col>
  </ion-row> -->

</ion-content>
