<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p [ngClass]="plattype != 'ipad' ? 'title': 'title-ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content list-avatar-page">

  <p [ngClass]="plattype != 'ipad' ? 'titlebar': 'titlebar-ipad'" text-wrap text-center>Laboratory Reservations History</p>
  <p *ngIf="isLoading" [ngClass]="plattype != 'ipad' ? 'titlebar': 'titlebar-ipad'" text-wrap text-center><ion-spinner></ion-spinner></p>

  <ion-grid>
    <ion-row *ngIf="!isLoading && booklists.length <= 0">
      <ion-col>
        <div>
          <p text-center><img src="../../assets/imgs/plant-svgrepo-com.svg" height="100px"></p>
          <p id="info" text-wrap text-center>You have not booked any labs.</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let booklist of booklists; let i = index;" [ngClass]="(i % 2 == 0) ? 'odd' : 'even evenfont'" col-12 col-xl-3 col-lg-4 col-md-6>

        <ion-card>

          <ion-card-content>
            <ion-card-title>
              <p id="info" text-wrap text-uppercase text-left>{{booklist.LABNAME}}<br><span>{{booklist.ROOM}}</span></p>
            </ion-card-title>
            <p id="info" text-wrap text-uppercase text-left>BOOK DATE : <span>{{booklist.BOOKDATE}}</span></p>
            <p *ngIf="booklist.STATUS=='PENDING'" id="infomohon" text-wrap text-uppercase text-left>STATUS : <span>{{booklist.STATUS}}</span></p>
            <p *ngIf="booklist.STATUS=='APPROVED'" id="infopass" text-wrap text-uppercase text-left>STATUS : <span>{{booklist.STATUS}}</span></p>
            <p *ngIf="booklist.STATUS=='REJECTED' || booklist.STATUS=='CANCELLED BY APPLICANT' || booklist.STATUS=='CANCELLED BY ADMIN'" id="infofail" text-wrap text-uppercase text-left>STATUS : <span>{{booklist.STATUS}}</span></p>
          </ion-card-content>

          <hr>

          <ion-grid>

            <ion-row no-padding>

              <ion-col text-start col-6>
                <button ion-button clear small color="danger" icon-start (click)="cancelBook(1, booklist.BOOKID)" *ngIf="(booklist.STATUS=='PENDING' || booklist.STATUS=='APPROVED') && !booklist.ISPAST">
                  <ion-icon name='trash-outline'></ion-icon>Cancel
                </button>
              </ion-col>

              <ion-col text-end col-6>
                <button ion-button clear small color="danger" icon-start (click)="openModal(
                              1,
                              booklist.LABNAME,
                              booklist.LABTYPE,
                              booklist.ROOM,
                              booklist.PEGAWAI1,
                              booklist.PEGAWAI2,
                              booklist.PENPEG1,
                              booklist.PENPEG2,
                              booklist.PEMMAKMAL1,
                              booklist.PEMMAKMAL2,
                              booklist.BOOKDATE,
                              booklist.APPLYDATE,
                              booklist.SESI,
                              booklist.STATUS,
                              booklist.NOTE)">
                  <ion-icon name='information-circle-outline'></ion-icon>Details
                </button>
              </ion-col>

            </ion-row>

          </ion-grid>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- .................................................. WATCH LIST ........................................................ -->

  <div *ngFor="let watch of watches; let i = index;">

    <ion-grid>
      <ion-row>
        <ion-col *ngIf="watch.WATCHID!='X'" [ngClass]="(i % 2 == 0) ? 'odd' : 'even evenfont'" col-12 col-xl-6 col-lg-6 col-md-6>

          <ion-card>

            <ion-card-content>
              <ion-card-title>
                <p id="info" text-wrap text-uppercase>{{watch.LABNAME}}<br><span>{{watch.ROOM}}</span></p>
              </ion-card-title>
              <p id="info" text-wrap text-uppercase>BOOK DATE : <span>{{watch.BOOKDATE}}</span></p>
              <p id="infomohon" text-wrap text-uppercase>BOOKED COUNT : <span>{{watch.WATCH}}</span></p>
            </ion-card-content>

            <hr *ngIf="watch.WATCH<'15'">

            <ion-row no-padding *ngIf="watch.WATCH<'15'">
              <ion-col text-right>
                <button ion-button clear small color="danger" icon-start (click)="bookingLab(watch.WATCHID)">
                  <ion-icon name='bookmark'></ion-icon>Book Now!
                </button>
              </ion-col>
            </ion-row>

          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
