<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content">

  <!-- --------------------------------------- TITLE BAR IPHONE ----------------------------------------- -->

  <p id="titlebar" *ngIf="plattype != 'ipad'" text-wrap text-center>
    Instruments S.O.P
  </p>

  <!-- --------------------------------------- TITLE BAR IPAD ----------------------------------------- -->

  <p id="titlebar-ipad" *ngIf="plattype == 'ipad'" text-wrap text-center>
    Instruments S.O.P
  </p>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterProcessing($event)" (ngModelChange)="searchTerm = $event.toLocaleUpperCase()"></ion-searchbar>

  <ion-list text-wrap *ngIf="plattype!='ipad'">

    <button ion-item class="telus" *ngFor="let item of items; let i = index;"
      [ngClass]="(i % 2 == 0) ? 'odd' : 'even evenfont'" (click)="viewPDF(item.SOPID , item.NAME, item.URL)">
      <p id="info" absolute-drag text-wrap text-uppercase>{{item.NAME}}<br><span>{{item.DESC}}</span></p>
    </button>

  </ion-list>

  <ion-list text-wrap *ngIf="plattype=='ipad'">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of items; let i = index;" [ngClass]="(i % 2 == 0) ? 'odd' : 'even evenfont'" col-12 col-xl-6 col-lg-6 col-md-6>

          <button ion-item class="telus" *ngFor="let item of items; let i = index;"
            [ngClass]="(i % 2 == 0) ? 'odd' : 'even evenfont'" (click)="viewPDF(item.SOPID , item.NAME, item.URL)">
            <p id="info" absolute-drag text-wrap text-uppercase>{{item.NAME}}<br><span>{{item.DESC}}</span></p>
          </button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

</ion-content>
