<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p [ngClass]="plattype != 'ipad' ? 'title': 'title-ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content cards-bg">

  <p [ngClass]="plattype != 'ipad' ? 'titlebar': 'titlebar-ipad'" text-wrap text-center>Chemical Reservations</p>

  <div [ngClass]="plattype != 'ipad' ? 'ibox-phone': 'ibox'">

    <ion-list>

      <ion-item>
        <ion-label>Campus</ion-label>
        <ion-select interface="action-sheet" name="ecampus" #ecampus (ionChange)="getLablist()">
          <ion-option *ngFor="let kampus of campuses" [value]="kampus.ID" text-wrap>{{kampus.NAMAKAMPUS}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Lab</ion-label>
        <ionic-selectable item-content name="elab" #elab class="selectableview" [(ngModel)]="lab" [items]="labs"
          itemValueField="LABID" itemTextField="LABNAME" [canSearch]="true" (onChange)="portChange($event)">
        </ionic-selectable>
      </ion-item>

      <ion-item>
        <ion-label>Chemical</ion-label>
        <ionic-selectable item-content name="echem" #echem class="selectableview" [(ngModel)]="chem" [items]="chems"
          itemValueField="CHEMID" itemTextField="CHEMNAME" [canSearch]="true" (onChange)="portChange2($event)">
        </ionic-selectable>
      </ion-item>

      <ion-item *ngIf="xoxo != ''">
        <ion-label>Amount ({{unit}})</ion-label>
        <ion-input text-end type="number" min="0" [max]="xoxo" step="1" [(ngModel)]="quantity" (ionBlur)="quantityChanged()" (keypress)="quantityKeyPressed($event)" placeholder="0"></ion-input>
        <!-- <ion-badge item-end>{{unit}}</ion-badge> -->
        <!-- <ion-range min="1" [max]="xoxo" pin="true" color="secondary" name="epack" #epack [(ngModel)]="quantity">
          <ion-icon range-left small name="flask"></ion-icon>
          <ion-icon range-right name="flask"></ion-icon>
        </ion-range> -->
      </ion-item>
      <ion-grid *ngIf="xoxo">
        <ion-row>
          <ion-col text-end>
            <ion-note class="quantity-note">Max Amount: {{xoxo}}</ion-note>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div *ngIf="xoxo == '' && chemicalsHasSearched">
        <p text-center><img src="../../assets/imgs/plant-svgrepo-com.svg" height="100px"></p>
        <p id="info" text-wrap text-uppercase text-center>SORRY! THERE ARE NONE AVAILABLE AT THE MOMENT</p>
      </div>

    </ion-list>

  </div>

  <p text-center>
    <button ion-button icon-start (click)="backward()">
      <ion-icon name='custom-back'></ion-icon>
      &nbsp;Back
    </button>

    <button *ngIf="xoxo != ''" ion-button icon-start (click)="bookingChem()" [disabled]="!quantity || quantity <= 0">
      <ion-icon name='custom-submit'></ion-icon>
      &nbsp;Book
    </button>
  </p>

</ion-content>
