<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content cards-bg">

  <div *ngIf="pageIsLoading()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p [ngClass]="plattype != 'ipad' ? 'titlebar': 'titlebar-ipad'" text-wrap text-center>
            Fetching info. Please wait...
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-spinner></ion-spinner>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="!pageIsLoading()">
    <p [ngClass]="plattype != 'ipad' ? 'titlebar': 'titlebar-ipad'" text-wrap text-center>
      <!-- <button ion-button color="danger" clear icon-only menuToggle>
        <ion-icon name='menu' is-active="false"></ion-icon>
      </button> -->
      {{displayname}}
    </p>
  
    <!-- ---------------------------------------------------------- IPHONE LOGGED IN --------------------------------------------------------------- -->
  
    <ion-grid *ngIf="userlevel == '1' && plattype != 'ipad'">
  
      <ion-row>
        <ion-col class="box" (click)="book()"><img src="../../assets/icon/png/booking.png"
            style="height:50px;"><br>Booking</ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box" (click)="history()"><img src="../../assets/icon/png/history.png"
            style="height:50px;"><br>History</ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col class="box" (click)="info()"><img src="../../assets/icon/png/labs-info.png" style="height:50px;"><br>Labs
          Info</ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box" (click)="complaint()"><img src="../../assets/icon/png/complaint.png"
            style="height:50px;"><br>Complaints</ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col class="box" (click)="osha()"><img src="../../assets/icon/png/osha.png" style="height:50px;"><br>Osha/Oshe
        </ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box" (click)="helpdesk()"><img src="../../assets/icon/png/helpdesk.png"
            style="height:50px;"><br>Helpdesk</ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col class="box" (click)="msds()"><img src="../../assets/icon/png/msds.png" style="height:50px;"><br>MSDS
        </ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box" (click)="sop()"><img src="../../assets/icon/png/sop.png" style="height:50px;"><br>S.O.P
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col class="box" (click)="safetymod()"><img src="../../assets/icon/png/safety-mod.png"
            style="height:50px;"><br>Safety Mod</ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box" (click)="logout()"><img src="../../assets/icon/png/logout.png"
            style="height:50px;"><br>Logout</ion-col>
      </ion-row>
  
      <ion-row *ngIf="adminlevel=='1'">
        <ion-col class="box" (click)="approver()"><img src="../../assets/icon/png/approver.png"
            style="height:50px;"><br>Approver</ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col></ion-col>
      </ion-row>
  
    </ion-grid>
  
    <!-- ---------------------------------------------------------- IPAD LOGGED IN ----------------------------------------------------------- -->
  
    <ion-grid *ngIf="userlevel == '1' && plattype == 'ipad'">
  
      <ion-row class="row-ipad">
        <ion-col class="box-ipad" (click)="book()"><img src="../../assets/icon/png/booking.png"
            class="img-ipad"><br>Booking</ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box-ipad" (click)="history()"><img src="../../assets/icon/png/history.png"
            class="img-ipad"><br>History</ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box-ipad" (click)="info()"><img src="../../assets/icon/png/labs-info.png"
            class="img-ipad"><br>Labs Info</ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box-ipad" (click)="complaint()"><img src="../../assets/icon/png/complaint.png"
            class="img-ipad"><br>Complaints</ion-col>
      </ion-row>
  
      <ion-row class="row-ipad">
        <ion-col class="box-ipad" (click)="osha()"><img src="../../assets/icon/png/osha.png"
            class="img-ipad"><br>Osha/Oshe</ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box-ipad" (click)="helpdesk()"><img src="../../assets/icon/png/helpdesk.png"
            class="img-ipad"><br>Helpdesk</ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box-ipad" (click)="msds()"><img src="../../assets/icon/png/msds.png" class="img-ipad"><br>MSDS
        </ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box-ipad" (click)="sop()"><img src="../../assets/icon/png/sop.png" class="img-ipad"><br>S.O.P
        </ion-col>
      </ion-row>
  
      <ion-row class="row-ipad">
        <ion-col class="box-ipad" (click)="safetymod()"><img src="../../assets/icon/png/safety-mod.png"
            class="img-ipad"><br>Safety Mod</ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box-ipad" (click)="logout()"><img src="../../assets/icon/png/logout.png"
            class="img-ipad"><br>Logout</ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box-ipad" (click)="approver()" *ngIf="adminlevel=='1'"><img
            src="../../assets/icon/png/approver.png" class="img-ipad"><br>Approver</ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col></ion-col>
      </ion-row>
  
    </ion-grid>
  
    <!-- ----------------------------------------------------------- IPHONE NOT LOGGED IN ---------------------------------------------------------- -->
  
    <ion-grid *ngIf="userlevel == '' && plattype != 'ipad'">
  
      <ion-row>
        <ion-col class="box" (click)="info()"><img src="../../assets/icon/png/labs-info.png" style="height:50px;"><br>Labs
          Info</ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box" (click)="msds()"><img src="../../assets/icon/png/msds.png" style="height:50px;"><br>MSDS
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col class="box" (click)="sop()"><img src="../../assets/icon/png/sop.png" style="height:50px;"><br>SOP
        </ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box" (click)="safetymod()"><img src="../../assets/icon/png/safety-mod.png"
            style="height:50px;"><br>Safety Mod</ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col class="box" (click)="register()"><img src="../../assets/icon/png/add_user.png" style="height:50px;"><br>Register</ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box" (click)="login()"><img src="../../assets/icon/png/lock.png" style="height:50px;"><br>Login</ion-col>
      </ion-row>
  
    </ion-grid>
  
    <!-- ----------------------------------------------------------- IPAD NOT LOGGED IN ---------------------------------------------------------- -->
  
    <ion-grid *ngIf="userlevel == '' && plattype == 'ipad'">
  
      <ion-row class="row-ipad">
        <ion-col class="box-ipad" (click)="info()"><img src="../../assets/icon/png/labs-info.png"
            class="img-ipad"><br>Labs Info</ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box-ipad" (click)="msds()"><img src="../../assets/icon/png/msds.png" class="img-ipad"><br>MSDS
        </ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box-ipad" (click)="sop()"><img src="../../assets/icon/png/sop.png" class="img-ipad"><br>SOP
        </ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box-ipad" (click)="safetymod()"><img src="../../assets/icon/png/safety-mod.png"
            class="img-ipad"><br>Safety Mod</ion-col>
      </ion-row>
  
      <ion-row class="row-ipad">
        <ion-col class="box-ipad" (click)="register()"><img src="../../assets/icon/png/add_user.png"
            class="img-ipad"><br>Register</ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box-ipad" (click)="helpdesk()"><img src="../../assets/icon/png/helpdesk.png"
            class="img-ipad"><br>Helpdesk</ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col class="box-ipad" (click)="login()"><img src="../../assets/icon/png/lock.png" class="img-ipad"><br>Login
        </ion-col>
        <ion-col col-1 col-xl-1 col-lg-1 col-md-1>&nbsp;</ion-col>
        <ion-col></ion-col>
      </ion-row>
  
    </ion-grid>
  
    <br>&nbsp;
  </div>

</ion-content>
