<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">&nbsp;X&nbsp;</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content">

  <!-- --------------------------------------- TITLE BAR IPHONE ----------------------------------------- -->

  <p id="titlebar" *ngIf="plattype != 'ipad'" text-wrap text-center>
    Chemical Booking Process
  </p>

  <!-- --------------------------------------- TITLE BAR IPAD ----------------------------------------- -->

  <p id="titlebar-ipad" *ngIf="plattype == 'ipad'" text-wrap text-center>
    Chemical Booking Process
  </p>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <div class="box">

    <ion-list>

      <ion-item>
        <ion-textarea #mynote id="mynote" rows="5" maxLength="500" name="mynote" placeholder="NOTE (IF ANY)"
          text-uppercase></ion-textarea>
      </ion-item>

    </ion-list>

    <ion-row no-padding>

      <ion-col text-left>
        <button ion-button class="submit-btn" icon-start (click)="approveBook()">
          <ion-icon name='thumbs-up'></ion-icon>Approve
        </button>
      </ion-col>

      <ion-col text-right>
        <button ion-button class="decline-btn" icon-end (click)="declineBook()">
          <ion-icon name='thumbs-down'></ion-icon>&nbsp;Decline
        </button>
      </ion-col>

    </ion-row>

  </div>

</ion-content>
