.ios, .md {

    page-approver-view-chemicals-detail {

        ion-card {
            position: relative;
            // text-align: center;
            border-radius: 10px;
            // background-image: linear-gradient(black, #fcd404);
            // background: url('../../assets/imgs/card-bg.jpg') no-repeat center center fixed;
        }

        .home-content {

            background: url('../../assets/imgs/page_bg_4.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

            .logo-row {
                padding-top: 20px;
                padding-bottom: 10px;
            }

            .login-box {
                background: rgba(37, 37, 37, 0.253);
                border-radius: 20px;
                padding: 20px 5px 0px 5px;
                margin-top: 0px;
            }

            ion-row {
                align-items: center;
                text-align: center;
            }

            ion-item {
                border-radius: 10px !important;
                font-size: 0.9em;
                margin-bottom: 10px;
                border: 1px solid #ffffff;
                border-bottom: 0px !important;
                box-shadow: none !important;
            }

            ion-item-options .button {
                // border-radius: 10px !important;
                font-size: 0.9em;
                // border-bottom: 0px !important;
                // box-shadow: none !important;
            }

            .signup-col {
                margin: 0px 16px 0px 16px;
                padding-bottom: 0px;
            }

            .home-col {
                margin: 0px 16px 0px 16px;
                padding-bottom: 20px;
            }

            .item-inner {
                border-bottom-color: #ffffff !important;
                box-shadow: none !important;
            }

            .submit-btn {
                background-color: map-get($colors, success);
                border-radius: 30px !important;
            }

            .decline-btn {
                background-color: map-get($colors, danger);
                border-radius: 50px !important;
            }

            .home-btn {
                background-color: map-get($colors, dark);
                border-radius: 50px !important;
                border: 1px solid #ffffff;
            }

            .back-btn {
                background-color: map-get($colors, secondary);
                border-radius: 50px !important;
                border: 2px solid #000000;
                width: 50%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            .hurufkecik{
                text-transform: lowercase;
            }

            .selectableview {
                text-transform: uppercase;
                font-size:12px;
                color:#000;
                font-weight: bold;
            }

        }

        .title {
        text-align: center;
        }

        .cards {
        margin-top: 3em;
        }

        .status-pending {
            color: rgb(0, 37, 201);
        }

        .status-approved {
            color: rgb(25, 126, 0);
        }

        .status-rejected {
            color: rgb(211, 2, 2);
        }

        textarea.text-input {
            font-size: 1.25em;
            padding: 10px 10px;
            text-align: justify;
        }

        ion-item.note div.item-inner {
            background-color: rgb(221, 221, 221);
        }

        ion-checkbox {
            margin: 9px 9px 9px 4px !important;
        }
    }

}