<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content">

  <!-- --------------------------------------- TITLE BAR IPHONE ----------------------------------------- -->

  <p id="titlebar" *ngIf="plattype != 'ipad'" text-wrap text-center>
    User Registration
  </p>

  <!-- --------------------------------------- TITLE BAR IPAD ----------------------------------------- -->

  <p id="titlebar-ipad" *ngIf="plattype == 'ipad'" text-wrap text-center>
    User Registration
  </p>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <div class="digital-box">

    <ion-grid>
      <ion-row>

        <ion-col col-12 col-xl-6 col-lg-6 col-md-6>

          <ion-list>

            <ion-item>
              <ion-input type="text" placeholder="Full Name" name="ename" #ename text-uppercase>
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="number" placeholder="771202115331" name="enokp" #enokp text-uppercase>
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Username (for login)" name="eusername" #eusername>
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Password (for login)" name="epassword" #epassword>
              </ion-input>
            </ion-item>

          </ion-list>

        </ion-col>

        <ion-col col-12 col-xl-6 col-lg-6 col-md-6>

          <ion-list>

            <ion-item>
              <ion-input type="number" placeholder="0123456789" name="enotel" #enotel text-uppercase>
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Email" name="eemail" #eemail text-lowercase>
              </ion-input>
            </ion-item>

            <ion-item>
              <!-- <ion-input type="text" placeholder="Home Address" name="eaddress" #eaddress text-uppercase></ion-input> -->
              <ion-textarea #eaddress id="myreport" rows="5" maxLength="500" name="eaddress" placeholder="Home Address"
                text-uppercase></ion-textarea>
            </ion-item>

          </ion-list>

        </ion-col>

      </ion-row>
    </ion-grid>

  </div>

  <!-- ------------------------------------------------------------------------------------------------------------------------------- -->

  <div class="digital-box">

    <ion-grid>
      <ion-row>

        <ion-col col-12 col-xl-6 col-lg-6 col-md-6>
          <ion-list>

            <ion-item>
              <ion-input type="text" placeholder="Agency Name" name="eagency" #eagency text-uppercase>
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Agency Address" name="eaddress2" #eaddress2 text-uppercase>
              </ion-input>
            </ion-item>

          </ion-list>
        </ion-col>

        <ion-col col-12 col-xl-6 col-lg-6 col-md-6>
          <ion-list>

            <ion-item>
              <ion-input type="text" placeholder="Position" name="eposition" #eposition text-uppercase>
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="text" placeholder="Position Grade" name="egred" #egred text-uppercase>
              </ion-input>
            </ion-item>

          </ion-list>
        </ion-col>

      </ion-row>
    </ion-grid>

  </div>

  <!-- ------------------------------------------------------------------------------------------------------------------------------- -->

  <br>

  <p text-center>
  <button class="submit-btn" type="submit" ion-button icon-start (click)="register()">
    <ion-icon name='person-add'></ion-icon>Register
  </button>
  </p>

  <br>

</ion-content>
