<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content list-avatar-page">

  <!-- --------------------------------------- TITLE BAR IPHONE ----------------------------------------- -->

  <p id="titlebar" *ngIf="plattype != 'ipad'" text-wrap text-center>
    OSHA/OSHE Reports History
  </p>

  <!-- --------------------------------------- TITLE BAR IPAD ----------------------------------------- -->

  <p id="titlebar-ipad" *ngIf="plattype == 'ipad'" text-wrap text-center>
    OSHA/OSHE Reports History
  </p>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <div *ngFor="let comp of complists; let i = index;">

    <ion-grid>
      <ion-row>
        <ion-col *ngIf="comp.COMPID!='X'" [ngClass]="(i % 2 == 0) ? 'odd' : 'even evenfont'" col-12 col-xl-6 col-lg-6 col-md-6>

          <ion-card>

            <ion-card-content>

              <ion-card-title>
                <p id="infomohon" text-wrap text-uppercase>{{comp.TARIKH}}&nbsp;&nbsp;<span>({{comp.MASA}})</span></p>
              </ion-card-title>

              <p id="info" text-wrap text-uppercase>LOCATION : <span>{{comp.LAB}}</span></p>
              <p id="info" text-wrap text-uppercase>VICTIM'S NAME : <span>{{comp.NAMAMANGSA}}</span></p>
              <p id="info" text-wrap text-uppercase>VICTIM'S CONTACT : <span>{{comp.NOTELMANGSA}}</span></p>
              <p id="info" text-wrap text-uppercase>CATEGORY : <span>{{comp.CATEGORY}}</span></p>

              <hr>

              <p id="info" text-wrap text-uppercase><span>{{comp.DETAILS}}</span></p>

            </ion-card-content>

          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="comp.COMPID=='X'">
      <p text-center><img src="../../assets/imgs/plant-svgrepo-com.svg" height="100px"></p>
      <p id="info" text-wrap text-uppercase text-center>NO HISTORY FOUNDED</p>
    </div>

  </div>

</ion-content>
