<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content list-avatar-page">

  <!-- --------------------------------------- TITLE BAR IPHONE ----------------------------------------- -->

  <p id="titlebar" *ngIf="plattype != 'ipad'" text-wrap text-center>
    Complaint Histories
  </p>

  <!-- --------------------------------------- TITLE BAR IPAD ----------------------------------------- -->

  <p id="titlebar-ipad" *ngIf="plattype == 'ipad'" text-wrap text-center>
    Complaint Histories
  </p>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <!-- <div *ngFor="let comp of complists; let i = index;"> -->

    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let comp of complists; let i = index;" col-12 col-xl-6 col-lg-6 col-md-6>

          <ion-card *ngIf="comp.COMPID!='X'" [ngClass]="(i % 2 == 0) ? 'odd' : 'even evenfont'">

            <ion-card-content>

              <ion-card-title>
                <ion-grid no-padding>
                  <ion-row no-padding>
                    <ion-col text-start>
                      <p id="infomohon" text-wrap text-uppercase text-left>{{comp.TARIKH}}&nbsp;&nbsp;<span>({{comp.MASA}})</span></p>
                    </ion-col>
                    <ion-col text-end>
                      <p class="status" text-wrap text-uppercase text-right>{{comp.STATUS}}</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-title>

              <p id="info" text-wrap text-uppercase text-left>LOCATION : <span>{{comp.LAB}}</span></p>
              <p id="info" text-wrap text-uppercase text-left>CATEGORY : <span>{{comp.CATEGORY}}</span></p>

              <hr>

              <p id="info" text-wrap text-uppercase text-left><span>{{comp.COMPLAINT}}</span></p>

            </ion-card-content>

          </ion-card>

          <div *ngIf="comp.COMPID=='X'">
            <p text-center><img src="../../assets/imgs/plant-svgrepo-com.svg" height="100px"></p>
            <p id="info" text-wrap text-uppercase text-center>NO HISTORY FOUND</p>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>



  <!-- </div> -->

</ion-content>
