.ios, .md {

  page-complaint-history {

    ion-note {
      font-size: 8px;
      align-self: flex-start;
      margin-top: 14px;
    }

    p#info {
      font-size:10px;
      color:#000;
      font-weight: bold;
    }
    p#info span {
      font-size:8px;
      color:rgb(119, 117, 117);
    }

    .status {
      font-size:12px;
      font-weight: bold;
    }

    p#infomohon {
      font-size:12px;
      color:rgb(32, 10, 94);
      font-weight: bold;
    }
    p#infomohon span {
      font-size:8px;
      color:rgb(84, 105, 221);
    }

    p#infopass {
      font-size:12px;
      color:#000;
      font-weight: bold;
    }
    p#infopass span {
      font-size:12px;
      color:rgb(23, 145, 39);
    }

    p#infofail {
      font-size:12px;
      color:#000;
      font-weight: bold;
    }
    p#infofail span {
      font-size:12px;
      color:rgb(180, 33, 28);
    }

    ion-card {
      position: relative;
      // text-align: center;
      border-radius: 10px;
      // background-image: linear-gradient(black, #fcd404);
      // background: url('../../assets/imgs/card-bg.jpg') no-repeat center center fixed;
    }

    .telus{
      background-color: rgba(0, 0, 0, 0);
    }

    .list-avatar-page {
      ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
      }
    }

    .home-content {

      background: url('../../assets/imgs/page_bg_4.png') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .logo-row {
        padding-top: 20px;
        padding-bottom: 10px;
      }

      .login-box {
        background: rgba(37, 37, 37, 0.253);
        border-radius: 20px;
        padding: 20px 5px 0px 5px;
        margin-top: 0px;
      }

      ion-row {
        align-items: center;
        text-align: center;
      }

      ion-item {
        border-radius: 10px !important;
        // padding-left: 30px !important;
        padding: 10px 10px 15px 10px;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
      }

      .signup-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 0px;
      }

      .home-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 20px;
      }

      .item-inner {
        border-bottom-color: #ffffff !important;
        box-shadow: none !important;
      }

      .submit-btn {
        background-color: map-get($colors, primary);
        border-radius: 30px !important;
        border: 1px solid #ffffff;
      }

      .home-btn {
        background-color: map-get($colors, dark);
        border-radius: 50px !important;
        border: 1px solid #ffffff;
      }

      .register-btn {
        color: #ffffff;
        font-size: 0.8em;
      }

      .hurufkecik{
        text-transform: lowercase;
      }

    }

    .title {
      text-align: center;
    }

    .cards {
      margin-top: 3em;
    }
  }

}
