<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content">

  <!-- --------------------------------------- TITLE BAR IPHONE ----------------------------------------- -->

  <p id="titlebar" *ngIf="plattype != 'ipad'" text-wrap text-center>Helpdesk</p>

  <!-- --------------------------------------- TITLE BAR IPAD ----------------------------------------- -->

  <p id="titlebar-ipad" *ngIf="plattype == 'ipad'" text-wrap text-center>Helpdesk</p>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterProcessing($event)"
    (ngModelChange)="searchTerm = $event.toLocaleUpperCase()"></ion-searchbar>

  <ion-list text-wrap>

    <button ion-item class="telus" *ngFor="let item of items; let i = index;"
      [ngClass]="(i % 2 == 0) ? 'odd' : 'even evenfont'" (click)="respond(item.CASEID)">
      <p id="info" absolute-drag text-wrap text-uppercase>{{item.NAMA}}</p>
    </button>

  </ion-list>

</ion-content>
