<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeMe()">&nbsp;X&nbsp;</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let help of helps" no-lines>

      <div class="chat-message" text-right *ngIf="help.TYPE == 'USER'">
        <div class="right-bubble">
          <span class="msg-name">User</span>
          <span class="msg-date">{{help.TARIKH}} ({{help.MASA}})</span>
          <p text-wrap>{{help.KOMEN}}</p>
        </div>
      </div>

      <div class="chat-message" text-left *ngIf="help.TYPE == 'RESPONDER'">
        <div class="left-bubble">
          <span class="msg-name">Me</span>
          <span class="msg-date">{{help.TARIKH}} ({{help.MASA}})</span>
          <p text-wrap>{{help.KOMEN}}</p>
        </div>
      </div>

    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" placeholder="Type a message" name="message" #message [(ngModel)]="data.message">
        </ion-input>
      </ion-col>
      <ion-col col-2 (click)="sendMessage()">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
