<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content">

  <!-- --------------------------------------- TITLE BAR IPHONE ----------------------------------------- -->

  <p id="titlebar" *ngIf="plattype != 'ipad'" text-wrap text-center>
    OSHA/OSHE Reports
  </p>

  <!-- --------------------------------------- TITLE BAR IPAD ----------------------------------------- -->

  <p id="titlebar-ipad" *ngIf="plattype == 'ipad'" text-wrap text-center>
    OSHA/OSHE Reports
  </p>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <div class="digital-box">

  <ion-grid>

    <ion-row align-self-start>

      <ion-col col-12 col-xl-6 col-lg-6 col-md-6>
        <ion-list>

          <ion-item>
            <ion-label class="form-type">Campus</ion-label>
            <ion-select interface="action-sheet" name="ecampus" #ecampus (ionChange)="getLablist()" class="form-type">
              <ion-option *ngFor="let kampus of campuses" [value]="kampus.ID" text-wrap>{{kampus.NAMAKAMPUS}}</ion-option>
            </ion-select>
          </ion-item>

        </ion-list>
      </ion-col>

      <ion-col col-12 col-xl-6 col-lg-6 col-md-6>
        <ion-list>

          <ion-item>
            <ion-label class="form-type">Lab</ion-label>
            <ionic-selectable item-content name="elab" #elab class="selectableview form-type" [(ngModel)]="lab" [items]="labs"
              itemValueField="LABID" itemTextField="LABNAME" [canSearch]="true" (onChange)="portChange($event)">
            </ionic-selectable>
          </ion-item>

        </ion-list>
      </ion-col>

    </ion-row>

    <!-- --------------------------------------------------------------------------------------------------------------------------------- -->

    <ion-row align-self-start>

      <ion-col align-self-start col-12 col-xl-6 col-lg-6 col-md-6>
        <ion-list>

          <ion-item>
            <ion-label class="form-type">Name</ion-label>
            <ion-input class="form-type" type="text" placeholder="Victim's Name" name="ename" #ename text-uppercase></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="form-type">ID No.</ion-label>
            <ion-input class="form-type" type="number" placeholder="771202115331" name="enokp" #enokp text-uppercase></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="form-type">Phone No.</ion-label>
            <ion-input class="form-type" type="number" placeholder="0123456789" name="enotel" #enotel text-uppercase></ion-input>
          </ion-item>

          <ion-item>
            <ion-label class="form-type">Date/Time</ion-label>
            <ion-datetime class="form-type" displayFormat="MMM DD, h:mm A" [(ngModel)]="myDate" name="etkh" #etkh></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label class="form-type">Status</ion-label>
            <ion-select class="form-type" interface="action-sheet" name="estatus" #estatus>
              <ion-option value="1">STAFF</ion-option>
              <ion-option value="2">STUDENT</ion-option>
              <ion-option value="3">OUTSIDER</ion-option>
            </ion-select>
          </ion-item>

        </ion-list>
      </ion-col>

      <ion-col align-items-start col-12 col-xl-6 col-lg-6 col-md-6>
        <ion-list>

          <ion-item>
            <ion-textarea class="form-type" #myreport id="myreport" rows="12" maxLength="500" name="myreport"
              placeholder="Please state report here..." text-uppercase></ion-textarea>
          </ion-item>

        </ion-list>
      </ion-col>

    </ion-row>

    <!-- --------------------------------------------------------------------------------------------------------------------------------- -->

    <ion-row>

      <ion-col align-items-start col-12 col-xl-6 col-lg-6 col-md-6>
        <ion-item>
          CAPTURE IMAGE
          <button ion-button item-end outline icon-end (click)="upload()" color="secondary">
            CAMERA
            <ion-icon name='camera'></ion-icon>
          </button>
        </ion-item>
      </ion-col>

      <ion-col *ngIf="myphoto" align-items-start col-12 col-xl-6 col-lg-6 col-md-6>
        <ion-card>
          <ion-card-content>
            <img [src]="myphoto" />
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

  </ion-grid>

  </div>

  <!-- <div class="digital-box">

    <ion-list>

      <ion-item>
        <ion-label>Campus</ion-label>
        <ion-select interface="action-sheet" name="ecampus" #ecampus (ionChange)="getLablist()">
          <ion-option *ngFor="let kampus of campuses" [value]="kampus.ID" text-wrap>{{kampus.NAMAKAMPUS}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Lab</ion-label>
        <ionic-selectable item-content name="elab" #elab class="selectableview" [(ngModel)]="lab" [items]="labs"
          itemValueField="LABID" itemTextField="LABNAME" [canSearch]="true" (onChange)="portChange($event)">
        </ionic-selectable>
      </ion-item>

    </ion-list>

  </div> -->

  <!-- <div class="digital-box">

    <ion-list>

      <ion-item>
        <ion-input type="text" placeholder="Victim's Name" name="ename" #ename text-uppercase>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="number" placeholder="771202115331" name="enokp" #enokp text-uppercase>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="number" placeholder="0123456789" name="enotel" #enotel text-uppercase>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Status</ion-label>
        <ion-select interface="action-sheet" name="estatus" #estatus>
          <ion-option value="1">STAFF</ion-option>
          <ion-option value="2">STUDENT</ion-option>
          <ion-option value="3">OUTSIDER</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-datetime displayFormat="MMM DD, h:mm A" [(ngModel)]="myDate" name="etkh" #etkh></ion-datetime>
      </ion-item>

    </ion-list>

  </div> -->

  <!-- <div class="digital-box">
    <ion-list>
      <ion-item>
        <ion-textarea #myreport id="myreport" rows="5" maxLength="500" name="myreport"
          placeholder="Please state report here..." text-uppercase></ion-textarea>
      </ion-item>
    </ion-list>
  </div> -->

  <!-- <br> -->

  <!-- <ion-card *ngIf="myphoto">
    <ion-card-content>
      <img [src]="myphoto" />
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-list>
    <ion-item>
      CAPTURE IMAGE
      <button ion-button item-end outline icon-end (click)="upload()" color="secondary">
        CAMERA
        <ion-icon name='camera'></ion-icon>
      </button>
    </ion-item>
  </ion-list> -->

  <br>

  <p text-center>
  <button class="submit-btn" type="submit" ion-button icon-start (click)="sendReport()">
    <ion-icon name='medkit'></ion-icon>Submit
  </button>
  </p>

  <br>

</ion-content>
