<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content cards-bg">

  <p [ngClass]="plattype != 'ipad' ? 'titlebar': 'titlebar-ipad'" text-wrap text-center>Instrument Reservations</p>

  <div [ngClass]="plattype != 'ipad' ? 'ibox-phone': 'ibox'">

    <ion-list>

      <ion-item>
        <ion-label>Instrument</ion-label>
        <ionic-selectable
          text-wrap
          item-content
          name="einstrument"
          #einstrument
          class="selectableview"
          [(ngModel)]="inst"
          [items]="insts"
          itemValueField="INSTRUMENT"
          itemTextField="INSTRUMENT"
          [canSearch]="true"
          (onSearch)="searchInstruments($event)"
          (onChange)="instrumentChange($event)"
          [hasInfiniteScroll]="true"
          (onInfiniteScroll)="getMoreInstruments($event)">
        </ionic-selectable>
      </ion-item>

    </ion-list>

  </div>

  <div [ngClass]="plattype != 'ipad' ? '': 'clear-box'">

    <div *ngFor="let item of instruments">

      <ion-card *ngIf="item.ID != ''">

        <ion-card-content>
          <ion-card-title>{{item.INSTRUMENT}}</ion-card-title>
          <p>{{item.LOCATION}}</p>
          <p>{{item.BARKOD}}</p>
        </ion-card-content>

        <ion-row no-padding>
          <!-- <ion-col text-left>
            <button ion-button clear small color="danger" icon-start>
              <ion-icon name='information-circle'></ion-icon>Info
            </button>
          </ion-col> -->
          <ion-col text-right>
            <button ion-button clear small color="danger" icon-start (click)="bookingInstrument(item.ID)">
              <ion-icon name='bookmark'></ion-icon>Book Now!
            </button>
          </ion-col>
        </ion-row>

      </ion-card>

    </div>

    <div *ngIf="instruments.length <= 0 && instrumentHasSearched">
      <p text-center><img src="../../assets/imgs/plant-svgrepo-com.svg" height="100px"></p>
      <p id="info" text-wrap text-uppercase text-center>SORRY! THERE ARE NONE AVAILABLE FOR THIS DATE</p>
    </div>

  </div>

  <p text-center>
    <button ion-button icon-start (click)="backward()">
      <ion-icon name='custom-back'></ion-icon>
      &nbsp;Back
    </button>
  </p>

</ion-content>
