<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="flask"></ion-icon>
    </button>
    <ion-title>Report</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content">

  <ion-item class="telus">
    <ion-label>Category</ion-label>
    <ion-select interface="action-sheet" name="ecat" #ecat>
      <ion-option value="Category 1">Category 1</ion-option>
      <ion-option value="Category 2">Category 2</ion-option>
      <ion-option value="Category 3">Category 3</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-textarea name="komplen" #komplen></ion-textarea>
  </ion-item>

  <button ion-button class="submit-btn" full type="submit" (click)="sendReport()">Send</button>

</ion-content>
