<ion-content padding class="home-content">

  <ion-tabs [selectedIndex]="myIndex">
    <ion-tab [root]="tab1Root" tabTitle="Scan QR" tabIcon="custom-qrcode"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Instruments List" tabIcon="custom-flask"></ion-tab>
  </ion-tabs>

</ion-content>
