<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content cards-bg">

  <p [ngClass]="plattype != 'ipad' ? 'titlebar': 'titlebar-ipad'" text-wrap text-center>Consumable Reservations</p>

  <div [ngClass]="plattype != 'ipad' ? 'ibox-phone': 'ibox'">

    <ion-list>

      <ion-item>
        <ion-label>Campus</ion-label>
        <ion-select interface="action-sheet" name="ecampus" #ecampus (ionChange)="getLablist()">
          <ion-option *ngFor="let kampus of campuses" [value]="kampus.ID" text-wrap>{{kampus.NAMAKAMPUS}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Store</ion-label>
        <ionic-selectable item-content name="elab" #elab class="selectableview" [(ngModel)]="lab" [items]="labs"
          itemValueField="LABID" itemTextField="LABNAME" [canSearch]="true" (onChange)="portChange($event)">
        </ionic-selectable>
      </ion-item>

      <!-- <ion-item>
        <ion-label>Item Type</ion-label>
        <ion-select interface="action-sheet" name="eitemtype" #eitemtype (ionChange)="getItem()">
          <ion-option *ngFor="let itemtype of itemtypes" [value]="itemtype.TYPEID" text-wrap>{{itemtype.TYPENAME}}</ion-option>
        </ion-select>
      </ion-item> -->

      <ion-item>
        <ion-label>Item Type</ion-label>
        <ion-select interface="action-sheet" name="eitemtype" #eitemtype (ionChange)="getItem()" [(ngModel)]="itemtype">
          <ion-option *ngFor="let itemtype of itemtypes" value="{{itemtype.TYPEID}}" text-wrap>{{itemtype.TYPENAME}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Item</ion-label>
        <ionic-selectable item-content name="eitem" #eitem class="selectableview" [(ngModel)]="item" [items]="items"
          itemValueField="ITEMID" itemTextField="ITEMNAME" [canSearch]="true" (onChange)="portChange2($event)">
        </ionic-selectable>
      </ion-item>

      <ion-item *ngIf="bilangan != ''">
        <ion-label>Amount</ion-label>
        <ion-input text-end type="number" min="0" [max]="bilangan" step="1" [(ngModel)]="quantity" (ionBlur)="quantityChanged()" (keypress)="quantityKeyPressed($event)" placeholder="0"></ion-input>
        <!-- <ion-range min="1" [max]="bilangan" pin="true" color="secondary" name="ebil" #ebil>
          <ion-icon range-left small name="beaker"></ion-icon>
          <ion-icon range-right name="beaker"></ion-icon>
        </ion-range> -->
      </ion-item>
      <ion-grid *ngIf="bilangan">
        <ion-row>
          <ion-col text-end>
            <ion-note class="quantity-note">Max Amount: {{bilangan}}</ion-note>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div *ngIf="bilangan == '' && consumableHasSearched">
        <p text-center><img src="../../assets/imgs/plant-svgrepo-com.svg" height="100px"></p>
        <p id="info" text-wrap text-uppercase text-center>SORRY! THERE ARE NONE AVAILABLE FOR THIS DATE</p>
      </div>

    </ion-list>

  </div>

  <p text-center>
    <button ion-button icon-start (click)="backward()">
      <ion-icon name='custom-back'></ion-icon>
      &nbsp;Back
    </button>

    <button *ngIf="bilangan != ''" ion-button icon-start (click)="bookingConsum()" [disabled]="!quantity || quantity <= 0">
      <ion-icon name='custom-submit'></ion-icon>
      &nbsp;Book
    </button>
  </p>

</ion-content>
