<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content">

  <!-- --------------------------------------- TITLE BAR IPHONE ----------------------------------------- -->

  <p id="titlebar" *ngIf="plattype != 'ipad'" text-wrap text-center>
    External User Approval
  </p>

  <!-- --------------------------------------- TITLE BAR IPAD ----------------------------------------- -->

  <p id="titlebar-ipad" *ngIf="plattype == 'ipad'" text-wrap text-center>
    External User Approval
  </p>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <ion-grid>
    <ion-row>
      <ion-col text-center *ngIf="isLoading">
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
      <ion-col *ngIf="!isLoading && users.length <= 0">
        <p text-center><img src="../../assets/imgs/plant-svgrepo-com.svg" height="100px"></p>
        <p id="info" text-wrap text-uppercase text-center>There are currently no registration request at the moment.</p>
      </ion-col>
      <ion-col *ngFor="let user of users; let i = index;" col-12 col-xl-6 col-lg-6 col-md-6>

        <ion-card>

          <ion-card-content>
            <ion-card-title>
              <p id="info" text-wrap text-uppercase>{{user.NAMA}}<br><span>{{user.JAWATAN}}({{user.GRED}})</span></p>
            </ion-card-title>
            <p id="info" text-wrap text-uppercase>AGENCY : <span>{{user.AGENSI}}</span></p>
            <p id="info" text-wrap text-uppercase>APPLY DATE : <span>{{user.DATE_APPLY}}</span></p>
          </ion-card-content>

          <hr>

          <ion-row no-padding *ngIf="plattype == 'ipad'">

            <ion-col text-left col-4 col-xl-3 col-lg-3 col-md-3>
              <button ion-button clear small color="danger" icon-start (click)="banned(user.EXTID)">
                <ion-icon name='close'></ion-icon>Block
              </button>
            </ion-col>

            <ion-col text-center col-4 col-xl-3 col-lg-3 col-md-3>
              <button ion-button clear small color="danger" icon-start (click)="approve(user.EXTID)">
                <ion-icon name='checkmark'></ion-icon>Approve
              </button>
            </ion-col>

            <ion-col text-right col-4 col-xl-3 col-lg-3 col-md-3>
              <button ion-button clear small color="danger" icon-start (click)="details(user.EXTID)">
                <ion-icon name='information-circle-outline'></ion-icon>Details
              </button>
            </ion-col>

          </ion-row>

          <ion-row no-padding *ngIf="plattype != 'ipad'">

            <ion-col text-left>
              <button ion-button clear small color="danger" icon-start (click)="banned(user.EXTID)">
                <ion-icon name='close'></ion-icon>Block
              </button>
            </ion-col>

            <ion-col text-center>
              <button ion-button clear small color="danger" icon-start (click)="approve(user.EXTID)">
                <ion-icon name='checkmark'></ion-icon>Approve
              </button>
            </ion-col>

            <ion-col text-right>
              <button ion-button clear small color="danger" icon-start (click)="details(user.EXTID)">
                <ion-icon name='information-circle-outline'></ion-icon>Details
              </button>
            </ion-col>

          </ion-row>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
