<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p [ngClass]="plattype != 'ipad' ? 'title': 'title-ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content cards-bg">

  <p [ngClass]="plattype != 'ipad' ? 'titlebar': 'titlebar-ipad'" text-wrap text-center>Laboratory Reservations</p>

  <div [ngClass]="plattype != 'ipad' ? 'ibox-phone': 'ibox'">

    <ion-list>

      <ion-item class="input">
        <ion-label>{{ campusIsLoading ? '' : 'Campus'}}<ion-spinner *ngIf="campusIsLoading"></ion-spinner></ion-label>
        <ion-select interface="action-sheet" name="ecampus" #ecampus (ionChange)="getLablist()" [disabled]="campusIsLoading">
          <ion-option *ngFor="let kampus of campuses" [value]="kampus.ID" text-wrap>{{kampus.NAMAKAMPUS}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="input">
        <ion-label>{{ labListIsLoading ? '' : 'Lab'}}<ion-spinner *ngIf="labListIsLoading"></ion-spinner></ion-label>
        <ionic-selectable 
          item-content name="elab"
          #elab
          class="selectableview"
          [(ngModel)]="lab"
          [items]="labs"
          itemValueField="LABID"
          itemTextField="LABNAME"
          [canSearch]="true"
          (onChange)="portChange($event)"
          [disabled]="campusIsLoading || labListIsLoading">
        </ionic-selectable>
      </ion-item>

      <ion-item class="input">
        <ion-label>{{ sesiIsLoading ? '' : 'Session'}}<ion-spinner *ngIf="sesiIsLoading"></ion-spinner></ion-label>
        <ion-select interface="action-sheet" name="esesi" #esesi [(ngModel)]="sesi" [disabled]="campusIsLoading || labListIsLoading || sesiIsLoading">
          <ion-option *ngFor="let sesi of sessions" value="{{sesi.ID}}" text-wrap>{{sesi.SESI}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="input">
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="tkh" disabled></ion-datetime>
      </ion-item>

      <ion-item class="input">
        <ion-label>End Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="endTkh" [min]="tkh"></ion-datetime>
      </ion-item>

      <ion-item class="input">
        <ion-label>Type</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="weekType" name="type" #type>
          <ion-option value="1">Weekdays</ion-option>
          <ion-option value="2">Weekends</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col>
          <button ion-button class="submit-btn" icon-start (click)="getLabStatus()" [disabled]="labStatusIsLoading || formIncomplete()">
            <ion-icon name='search'></ion-icon>Search
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <!-- ------------------------------------------------ RESULT CARD -------------------------------------------------- -->

  <ion-grid *ngIf="labStatusIsLoading">
    <ion-row>
      <ion-col text-center>
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card padding [ngClass]="plattype != 'ipad' ? '': 'clear-box'" *ngIf="!labStatusIsLoading && labStatus && labStatus.length > 0">

    <ion-grid>
      <ion-row *ngIf="unavailableBookingExist() && bookingsAvailable()">
        <ion-col>
          <ion-card-title text-center>Partially Available</ion-card-title>
          <ion-list no-lines>
            <ion-list-header text-wrap text-justify no-lines no-padding>
              <h2 *ngIf="filterUnavailableOnly().length > 1">The following dates are <strong>unavailable</strong> for booking and will automatically be excluded from your booking application:</h2>
              <h2 *ngIf="filterUnavailableOnly().length == 1">The following date is <strong>unavailable</strong> for booking and will automatically be excluded from your booking application:</h2>
            </ion-list-header>
            <ion-item no-padding *ngFor="let labStatus of filterUnavailableOnly()">
              <h3>{{ labStatus.date }} ({{ labStatus.day | titlecase }})</h3>
              <p>{{ translateReason(labStatus.reason) }}</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="unavailableBookingExist() && !bookingsAvailable()">
        <ion-col>
          <ion-card-title text-center>Unavailable</ion-card-title>
          <ion-list no-lines>
            <ion-list-header text-wrap text-justify no-lines no-padding>
              <h2>Sorry, all dates are <strong>unavailable</strong> for booking:</h2>
            </ion-list-header>
            <ion-item no-padding *ngFor="let labStatus of filterUnavailableOnly()">
              <h3>{{ labStatus.date }} ({{ labStatus.day | titlecase }})</h3>
              <p>{{ translateReason(labStatus.reason) }}</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!unavailableBookingExist() && bookingsAvailable()">
        <ion-col>
          <ion-card-title text-center>Available</ion-card-title>
          <ion-list no-lines>
            <h2>All dates are <strong>available</strong> for booking</h2>
          </ion-list>
        </ion-col>
      </ion-row>
      <div #proceed></div>
      <ion-row *ngIf="bookingsAvailable()">
        <ion-col>
          <button ion-button class="submit-btn" (click)="bookLabBulk()">
            Proceed with booking
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card *ngIf="isSearched && labStatus.length <= 0" [ngClass]="plattype != 'ipad' ? '': 'clear-box'">

    <ion-card-content #notAvailable>
      <ion-card-title>Not Available!</ion-card-title>
      <p>Sorry, this laboratory is not free for booking right now!</p>
    </ion-card-content>

    <!-- <ion-row no-padding *ngIf="stat.CLASSSTATUS == '2'">
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start (click)="watchlist()">
          <ion-icon name='eye'></ion-icon>Watchlist
        </button>
      </ion-col>
    </ion-row> -->

  </ion-card>

  <!-- <div *ngFor="let stat of labstats">

    <ion-card *ngIf="stat.LABSTATUS == '2'" [ngClass]="plattype != 'ipad' ? '': 'clear-box'">

      <ion-card-content>
        <ion-card-title>Available!</ion-card-title>
        <p>This laboratory is free for booking now!</p>
      </ion-card-content>

      <ion-row no-padding>
        <ion-col text-right>
          <button ion-button clear small color="danger" icon-start (click)="bookingLab()">
            <ion-icon name='bookmark'></ion-icon>Book Now!
          </button>
        </ion-col>
      </ion-row>

    </ion-card>

  </div> -->

  <p text-center>
    <button class="decline-btn" ion-button icon-start (click)="backward()">
      <ion-icon name='custom-back'></ion-icon>
      &nbsp;Back
    </button>
  </p>

</ion-content>
