<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content card-background-page">

  <!-- --------------------------------------- TITLE BAR IPHONE ----------------------------------------- -->

  <!-- <p id="titlebar" *ngIf="plattype != 'ipad'" text-wrap>
    <button ion-button color="danger" clear icon-only menuToggle>
      <ion-icon name='menu' is-active="false"></ion-icon>
    </button>
    smartLAB™ Events
  </p> -->

  <!-- --------------------------------------- TITLE BAR IPAD ----------------------------------------- -->

  <!-- <p id="titlebar-ipad" *ngIf="plattype == 'ipad'" text-wrap>
    <button ion-button color="danger" clear icon-only menuToggle>
      <ion-icon name='menu' is-active="false"></ion-icon>
    </button>
    smartLAB™ Events
  </p> -->

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let img of images; let i = index;" col-12 col-xl-6 col-lg-6 col-md-6>

        <ion-card>
          <img [src]="img.IMG" />
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- ----------------------------------------------------------- IMAGE SLIDER IPHONE ------------------------------------------------------------------ -->

  <!-- <div class="img-event" *ngIf="plattype != 'ipad'">
    <ion-slides *ngIf="images && images.length" autoplay="3000" loop="true" speed="500" class="slides" pager="true"
      class="to-top">
      <ion-slide *ngFor="let img of images"><img [src]="img.IMG" alt="" class="img-slide"></ion-slide>
    </ion-slides>
  </div> -->

  <!-- ----------------------------------------------------------- IMAGE SLIDER IPAD ------------------------------------------------------------------ -->

  <!-- <div class="img-event-ipad" *ngIf="plattype == 'ipad'">
    <ion-slides *ngIf="images && images.length" autoplay="3000" loop="true" speed="500" class="slides" pager="true"
      class="to-top">
      <ion-slide *ngFor="let img of images"><img [src]="img.IMG" alt="" class="img-slide"></ion-slide>
    </ion-slides>
  </div> -->

</ion-content>
