<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">&nbsp;X&nbsp;</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <pdf-viewer [src]="displayData.pdfSource" [show-all]="true" [original-size]="false" [zoom]="1.0" style="display: block">
  </pdf-viewer>

</ion-content>
