<ion-content padding class="home-content">

  <ion-tabs [selectedIndex]="myIndex">
    <ion-tab [root]="tab1Root" tabTitle="Medical Campus" tabIcon="map"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Besut Campus" tabIcon="map"></ion-tab>
  </ion-tabs>

</ion-content>
