<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">&nbsp;X&nbsp;</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content">

  <!-- --------------------------------------- TITLE BAR IPHONE ----------------------------------------- -->

  <p id="titlebar" *ngIf="plattype != 'ipad'" text-wrap text-center>
    Complaint Details
  </p>

  <!-- --------------------------------------- TITLE BAR IPAD ----------------------------------------- -->

  <p id="titlebar-ipad" *ngIf="plattype == 'ipad'" text-wrap text-center>
    Complaint Details
  </p>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <div class="ibox-phone" *ngIf="plattype != 'ipad'" >

    <ion-list>

      <ion-item>
        <ion-textarea #myreport id="myreport" rows="5" maxLength="500" name="myreport"
          placeholder="Please state complaint here..." text-uppercase></ion-textarea>
      </ion-item>

      <button ion-button icon-start full class="submit-btn" type="submit" (click)="sendReport()" color="secondary">
        <ion-icon name="hand"></ion-icon>
        Send Complaint
      </button>

    </ion-list>

  </div>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <div class="ibox" *ngIf="plattype == 'ipad'" >

    <ion-list>

      <ion-item>
        <ion-textarea #myreport id="myreport" rows="5" maxLength="500" name="myreport"
          placeholder="Please state complaint here..." text-uppercase></ion-textarea>
      </ion-item>

      <button ion-button icon-start full class="submit-btn" type="submit" (click)="sendReport()" color="secondary">
        <ion-icon name="hand"></ion-icon>
        Send Complaint
      </button>

    </ion-list>

  </div>

</ion-content>
