.ios, .md {

  page-complaint-modal {

    p#info {
      font-size:12px;
      color:#000;
      font-weight: bold;
    }
    p#info span {
      font-size:10px;
      color:rgb(119, 117, 117);
    }

    p#infomohon {
      font-size:12px;
      color:#000;
      font-weight: bold;
    }
    p#infomohon span {
      font-size:10px;
      color:rgb(37, 63, 206);
    }

    p#infopass {
      font-size:12px;
      color:#000;
      font-weight: bold;
    }
    p#infopass span {
      font-size:10px;
      color:rgb(23, 145, 39);
    }

    p#infofail {
      font-size:12px;
      color:#000;
      font-weight: bold;
    }
    p#infofail span {
      font-size:10px;
      color:rgb(180, 33, 28);
    }

    #myreport {
      width: calc(100% - 10px);
      border: 0;
      border-radius: 0;
      background: transparent;
      border: 1px;
    }

    ion-card {
      position: relative;
      // text-align: center;
      border-radius: 10px;
      // background-image: linear-gradient(black, #fcd404);
      // background: url('../../assets/imgs/card-bg.jpg') no-repeat center center fixed;
    }

    .imtransparent{
        background-color: rgba(26, 25, 25, 0.877);
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .wrapper {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: minmax(70px, auto);
    }

    .wrapper > * {
        margin-bottom: 10px;
    }

    .telus{
      background-color: rgba(0, 0, 0, 0);
    }

    .list-avatar-page {
      ion-note {
        font-size: 12px;
        align-self: flex-start;
        margin-top: 14px;
      }
    }

    .home-content {

      background: url('../../assets/imgs/page_bg_4.png') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .box {
        border-radius: 10px;
        padding: 1em;
        margin-left: 3px;
        margin-right: 3px;
        // flex: 1 1 300px;
        background-color: rgba(54, 54, 54, 0.322);

        h2 {
          font-weight: bold;
        }
      }

      .logo-row {
        padding-top: 20px;
        padding-bottom: 10px;
      }

      .login-box {
        background: rgba(37, 37, 37, 0.253);
        border-radius: 20px;
        padding: 20px 5px 0px 5px;
        margin-top: 0px;
      }

      ion-row {
        align-items: center;
        text-align: center;
      }

      ion-item {
        border-radius: 10px !important;
        // padding-left: 30px !important;
        padding: 10px 10px 15px 10px;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
      }

      .signup-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 0px;
      }

      .home-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 20px;
      }

      .item-inner {
        border-bottom-color: #ffffff !important;
        box-shadow: none !important;
      }

      .submit-btn {
        background-color: map-get($colors, primary);
        border-radius: 30px !important;
        border: 1px solid #ffffff;
      }

      .home-btn {
        background-color: map-get($colors, dark);
        border-radius: 50px !important;
        border: 1px solid #ffffff;
      }

      .register-btn {
        color: #ffffff;
        font-size: 0.8em;
      }

      .hurufkecik{
        text-transform: lowercase;
      }

    }

    .title {
      text-align: center;
    }

    .cards {
      margin-top: 3em;
    }
  }

}
