<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p [ngClass]="plattype != 'ipad' ? 'title': 'title-ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content cards-bg">

  <ion-card *ngIf="booking">
    <ion-card-header>
      Booking Info
    </ion-card-header>
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col text-start>
            <p><strong>Booking Date</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ booking.booking.date }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Application Date</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ booking.booking.applicationDate }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Processed Date</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ booking.booking.processedDate }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Status</strong></p>
          </ion-col>
          <ion-col text-end>
            <p [ngClass]="getBookingStatusClass(booking.booking.status)">{{ booking.booking.status }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-item-divider></ion-item-divider>
    <ion-card-header>
      Instrument Info
    </ion-card-header>
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col text-start>
            <p><strong>Name</strong></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p>{{ booking.instrument.name }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Barcode</strong></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p>{{ booking.instrument.barcode }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Year</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ booking.instrument.year }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Status</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ booking.instrument.status }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Price</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ booking.instrument.price }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-item-divider></ion-item-divider>
    <ion-card-header>
      Applicant Info
    </ion-card-header>
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col text-start>
            <p><strong>Name</strong></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p>{{ booking.requester.name }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>National ID</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ trimPrefix(booking.requester.id) }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Category</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ booking.requester.category }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Agency</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ booking.requester.agency }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Contact No.</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ trimPrefix(booking.requester.contactNumber) }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-item-divider></ion-item-divider>
    <ion-card-header>
      Lab Info
    </ion-card-header>
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col text-start>
            <p><strong>Name</strong></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p>{{ booking.lab.name }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Category</strong></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p>{{ booking.lab.category.name }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Room No.</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ booking.lab.roomNumber }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Campus</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ booking.lab.category.campus.name }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Status</strong></p>
          </ion-col>
          <ion-col text-end>
            <p [ngClass]="getLabStatusClass(booking.lab.category.status)">{{ booking.lab.category.status }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-item-divider></ion-item-divider>
    <ion-card-header>
      Officers Info
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="booking.lab.officers.length < 1">No Data</p>
      <ion-grid *ngFor="let officer of booking.lab.officers; let i = index" no-padding>
        <ion-row>
          <ion-col text-start>
            <p><strong>Officer #{{ i+1 }}</strong></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p>{{ officer.name }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>National ID</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ trimPrefix(officer.id) }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Contact No.</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ trimPrefix(officer.contactNumber) }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <hr>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-item-divider></ion-item-divider>
    <ion-card-header>
      Assist. Officers Info
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="booking.lab.assistantOfficers.length < 1">No Data</p>
      <ion-grid *ngFor="let assistantOfficer of booking.lab.assistantOfficers; let i = index" no-padding>
        <ion-row>
          <ion-col text-start>
            <p><strong>Assist. Officer #{{ i+1 }}</strong></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p>{{ assistantOfficer.name }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>National ID</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ trimPrefix(assistantOfficer.id) }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Contact No.</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ trimPrefix(assistantOfficer.contactNumber) }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <hr>
        </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-item-divider></ion-item-divider>
    <ion-card-header>
      Lab Assistants Info
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="booking.lab.assistants.length < 1">No Data</p>
      <ion-grid *ngFor="let assistant of booking.lab.assistants; let i = index" no-padding>
        <ion-row>
          <ion-col text-start>
            <p><strong>Lab Assistant #{{ i+1 }}</strong></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p>{{ assistant.name }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>National ID</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ trimPrefix(assistant.id) }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Contact No.</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ trimPrefix(assistant.contactNumber) }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <hr>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="booking && hasValue(booking.approver)">
    <ion-card-header>
      Approver Info
    </ion-card-header>
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col text-start>
            <p><strong>Name</strong></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p>{{ booking.approver.name }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>National ID</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ trimPrefix(booking.approver.id) }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Contact No.</strong></p>
          </ion-col>
          <ion-col text-end>
            <p>{{ trimPrefix(booking.approver.contactNumber) }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p><strong>Notes</strong></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <p>{{ booking.approver.notes }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="booking && booking.booking && booking.booking.status === 'PENDING'">
    <ion-card-header>
      Process Application
    </ion-card-header>
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col>
            <ion-list no-padding no-margin>
              <ion-item class="note" no-padding>
                <ion-textarea
                  id="mynote"
                  rows="5"
                  maxLength="500"
                  name="mynote"
                  placeholder="NOTES (IF ANY)"
                  no-margin
                  [(ngModel)]="approverNote">
                </ion-textarea>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <ion-label>Include notes in email</ion-label>
              <ion-checkbox [(ngModel)]="includeApproverNoteInEmail" [disabled]="!approverNote"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-start>
            <button ion-button class="submit-btn" icon-start (click)="approveBooking(true)">
              <ion-icon name='thumbs-up'></ion-icon>Approve
            </button>
          </ion-col>
          <ion-col text-end>
            <button ion-button class="decline-btn" icon-start (click)="approveBooking(false)">
              <ion-icon name='thumbs-down'></ion-icon>Decline
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="booking && booking.booking && booking.booking.status === 'APPROVED'">
    <ion-card-header>
      Cancel Application
    </ion-card-header>
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col>
            <ion-list no-padding no-margin>
              <ion-item class="note" no-padding>
                <ion-textarea
                  rows="5"
                  maxLength="500"
                  name="mynote"
                  placeholder="NOTES (IF ANY)"
                  no-margin
                  [(ngModel)]="cancelNote">
                </ion-textarea>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item no-padding>
              <ion-label>Include notes in email</ion-label>
              <ion-checkbox [(ngModel)]="includeCancelNoteInEmail" [disabled]="!cancelNote"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button class="decline-btn" icon-start (click)="cancelBooking()">
              <ion-icon name='warning'></ion-icon>Cancel Booking
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
