<!-- <ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><p id="title">UniSZA smartLAB™</p></ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding class="home-content">

  <ion-tabs [selectedIndex]="myIndex">
    <ion-tab [root]="tab1Root" tabTitle="Quick Menu" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Events" tabIcon="apps"></ion-tab>
  </ion-tabs>

</ion-content>
