.ios, .md {

  page-home {

    p#info {
      font-size:9px;
      color:#000;
      font-weight: bold;
    }
    p#info span {
      font-size:10px;
      color:rgb(119, 117, 117);
    }

    button {
      margin: auto;
      overflow: auto;
    }

    ion-card {
      position: relative;
      // text-align: center;
      border-radius: 10px;
      // background-image: linear-gradient(black, #fcd404);
      // background: url('../../assets/imgs/card-bg.jpg') no-repeat center center fixed;
    }

    .telus{
      background-color: rgba(0, 0, 0, 0);
    }

    .box {
      background: rgb(255, 254, 254);
      border-radius: 20px;
      padding: 30px 0px 30px 0px;
      margin: 20px 0px 0px 0px;
      font-size:12px;
      color:rgb(7, 5, 37);
      font-weight: bold;
      box-shadow: 5px 10px 18px rgba(136, 136, 136, 0.281);
    }

    .box-ipad {
      background: rgb(255, 254, 254);
      border-radius: 20px;
      padding: 30px 0px 30px 0px;
      margin: 20px 0px 0px 0px;
      font-size:20px;
      color:rgb(7, 5, 37);
      font-weight: bold;
      box-shadow: 5px 10px 18px rgba(136, 136, 136, 0.281);
    }

    .img-ipad {
      height:70px;
      margin: 20px 50px 20px 50px;
    }

    .row-ipad {
      padding: 0px 30px 0px 30px;
    }

    h3 {
      padding: 40px 0px 0px 0px;
      letter-spacing: -1px;
    }

    h1 {
      padding: 60px 0px 20px 45px;
      letter-spacing: -2px;
      font-size:40px;
      font-weight: bold;
    }

    .home-content {

      // style for slider
      ion-slides.to-top {
        height: auto;
        margin-bottom: -5px;

        .swiper-pagination {
          display: block !important;
          .swiper-pagination-bullet {
            background: color($colors, light);
          }
        }
      }

      .to-top {
        height: auto;
        margin-bottom: -5px;
      }

      background: url('../../assets/imgs/page_bg_4.png') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .logo-row {
        padding-top: 20px;
        padding-bottom: 10px;
      }

      .main-box {
        background: rgba(37, 37, 37, 0.13);
        border-radius: 20px;
        padding: 50px 5px 20px 5px;
        margin-top: -40px;
      }

      .img-event {

        width:100%;
        height:150px;

      }

      .img-event-ipad {

        width:100%;
        height:150px;
        // margin: 5px, 50px, 5px, 50px;
        // padding: 50px 5px 20px 5px;

      }

      .img-slide {
        border-radius: 20px;
        border: 2px solid #030303;
        width:100%;
        height:100%;
        object-fit:cover;
      }

      ion-row {
        align-items: center;
        text-align: center;
      }

      ion-item {
        border-radius: 30px !important;
        padding-left: 30px !important;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
      }

      .signup-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 0px;
      }

      .home-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 20px;
      }

      .item-inner {
        border-bottom-color: #ffffff !important;
        box-shadow: none !important;
      }

      .submit-btn {
        background-color: map-get($colors, primary);
        border-radius: 30px !important;
        border: 1px solid #ffffff;
      }

      .home-btn {
        background-color: map-get($colors, dark);
        border-radius: 50px !important;
        border: 1px solid #ffffff;
      }

      .register-btn {
        color: #ffffff;
        font-size: 0.8em;
      }

      .hurufkecik{
        text-transform: lowercase;
      }

    }

    .title {
      text-align: center;
    }

    .cards {
      margin-top: 3em;
    }
  }

}
