<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content cards-bg">

  <!-- --------------------------------------- TITLE BAR IPHONE ----------------------------------------- -->

  <p id="titlebar" *ngIf="plattype != 'ipad'" text-wrap text-center>
    Lab's Complaint
  </p>

  <!-- --------------------------------------- TITLE BAR IPAD ----------------------------------------- -->

  <p id="titlebar-ipad" *ngIf="plattype == 'ipad'" text-wrap text-center>
    Lab's Complaint
  </p>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <div class="ibox-phone" *ngIf="plattype != 'ipad'">

    <ion-list>

      <ion-item>
        <ion-label>Campus</ion-label>
        <ion-select interface="action-sheet" name="ecampus" #ecampus (ionChange)="getLablist()">
          <ion-option *ngFor="let kampus of campuses" [value]="kampus.ID" text-wrap>{{kampus.NAMAKAMPUS}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Lab</ion-label>
        <ionic-selectable item-content name="elab" #elab class="selectableview" [(ngModel)]="lab" [items]="labs"
          itemValueField="LABID" itemTextField="LABNAME" [canSearch]="true" (onChange)="portChange($event)">
        </ionic-selectable>
      </ion-item>

    </ion-list>

  </div>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <div class="ibox" *ngIf="plattype == 'ipad'">

    <ion-list>

      <ion-item>
        <ion-label>Campus</ion-label>
        <ion-select interface="action-sheet" name="ecampus" #ecampus (ionChange)="getLablist()">
          <ion-option *ngFor="let kampus of campuses" [value]="kampus.ID" text-wrap>{{kampus.NAMAKAMPUS}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Lab</ion-label>
        <ionic-selectable item-content name="elab" #elab class="selectableview" [(ngModel)]="lab" [items]="labs"
          itemValueField="LABID" itemTextField="LABNAME" [canSearch]="true" (onChange)="portChange($event)">
        </ionic-selectable>
      </ion-item>

    </ion-list>

  </div>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <div *ngFor="let item of items">

    <div *ngIf="plattype != 'ipad'" class="clear-box-phone">

      <ion-card *ngIf="item.LABID != 'X'">
        <ion-card-header>
          <p id="info" text-wrap text-uppercase>Complaint's Specification</p>
        </ion-card-header>

        <ion-list>
          <button ion-item (click)="openModal(1, item.LABID)">
            <ion-icon name="cart" item-start></ion-icon>
            <p id="info" text-wrap><span>Laboratory Damage</span></p>
          </button>

          <button ion-item (click)="openModal(2, item.LABID)">
            <ion-icon name="medical" item-start></ion-icon>
            <p id="info" text-wrap><span>Equipment Damage</span></p>
          </button>

          <button ion-item (click)="openModal(3, item.LABID)">
            <ion-icon name="cafe" item-start></ion-icon>
            <p id="info" text-wrap><span>Glassware & Consumable Damage</span></p>
          </button>

          <button ion-item (click)="openModal(4, item.LABID)">
            <ion-icon name="paw" item-start></ion-icon>
            <p id="info" text-wrap><span>Electrical Demage/Failure</span></p>
          </button>

        </ion-list>
      </ion-card>

    </div>

    <div *ngIf="plattype == 'ipad'" class="clear-box">

      <ion-card *ngIf="item.LABID != 'X'">
        <ion-card-header>
          <p id="info" text-wrap text-uppercase>Complaint's Specification</p>
        </ion-card-header>

        <ion-list>
          <button ion-item (click)="openModal(1, item.LABID)">
            <ion-icon name="cart" item-start></ion-icon>
            <p id="info" text-wrap><span>Laboratory Damage</span></p>
          </button>

          <button ion-item (click)="openModal(2, item.LABID)">
            <ion-icon name="medical" item-start></ion-icon>
            <p id="info" text-wrap><span>Equipment Damage</span></p>
          </button>

          <button ion-item (click)="openModal(3, item.LABID)">
            <ion-icon name="cafe" item-start></ion-icon>
            <p id="info" text-wrap><span>Glassware & Consumable Damage</span></p>
          </button>

          <button ion-item (click)="openModal(4, item.LABID)">
            <ion-icon name="paw" item-start></ion-icon>
            <p id="info" text-wrap><span>Electrical Demage/Failure</span></p>
          </button>

        </ion-list>
      </ion-card>

    </div>

  </div>

</ion-content>
