<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content">

  <!-- --------------------------------------- TITLE BAR IPHONE ----------------------------------------- -->

  <p id="titlebar" *ngIf="plattype != 'ipad'" text-wrap text-center>
    Instruments S.O.P
  </p>

  <!-- --------------------------------------- TITLE BAR IPAD ----------------------------------------- -->

  <p id="titlebar-ipad" *ngIf="plattype == 'ipad'" text-wrap text-center>
    Instruments S.O.P
  </p>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <div class="clear-box" *ngIf="plattype=='ipad'">

    <ion-card>
      <img src="../../assets/imgs/scanqr.jpg" />
      <ion-card-content>
        <ion-card-title>
          <p id="info" text-right text-wrap><span>scan</span> INSTRUMENT QR-CODE</p>
        </ion-card-title>
        <p id="info" text-right text-wrap><span>Please scan Instrument's QR-Code for view digital S.O.P</span></p>
      </ion-card-content>
      <hr>
      <ion-row no-padding>
        <ion-col text-right>
          <button ion-button clear small color="danger" icon-start (click)="scanCode()">
            <ion-icon name='qr-scanner'></ion-icon>Scan QR-Code
          </button>
        </ion-col>
      </ion-row>
    </ion-card>

  </div>

  <div class="clear-box-phone" *ngIf="plattype!='ipad'">

    <ion-card>
      <img src="../../assets/imgs/scanqr.jpg" />
      <ion-card-content>
        <ion-card-title>
          <p id="info" text-right text-wrap><span>scan</span> INSTRUMENT QR-CODE</p>
        </ion-card-title>
        <p id="info" text-right text-wrap><span>Please scan Instrument's QR-Code for view digital S.O.P</span></p>
      </ion-card-content>
      <hr>
      <ion-row no-padding>
        <ion-col text-right>
          <button ion-button clear small color="danger" icon-start (click)="scanCode()">
            <ion-icon name='qr-scanner'></ion-icon>Scan QR-Code
          </button>
        </ion-col>
      </ion-row>
    </ion-card>

  </div>

  <!-- ............................................................................................................... -->

  <div *ngIf="id!='' && plattype!='ipad'" class='clear-box-phone'>

    <div *ngFor="let item of items">

      <ion-card>

        <ion-card-content>
          <ion-card-title>{{item.NAME}}</ion-card-title>
          <p>{{item.DESC}}</p>
        </ion-card-content>

        <ion-row no-padding>
          <ion-col text-right>
            <button ion-button clear small color="danger" icon-start (click)="viewPDF(item.SOPID, item.NAME, item.URL)">
              <ion-icon name='document'></ion-icon>View S.O.P!
            </button>
          </ion-col>
        </ion-row>

      </ion-card>

    </div>

  </div>

  <div *ngIf="id!='' && plattype=='ipad'" class='clear-box'>

    <div *ngFor="let item of items">

      <ion-card>

        <ion-card-content>
          <ion-card-title>{{item.NAME}}</ion-card-title>
          <p>{{item.DESC}}</p>
        </ion-card-content>

        <ion-row no-padding>
          <ion-col text-right>
            <button ion-button clear small color="danger" icon-start (click)="viewPDF(item.SOPID, item.NAME, item.URL)">
              <ion-icon name='document'></ion-icon>View S.O.P!
            </button>
          </ion-col>
        </ion-row>

      </ion-card>

    </div>

  </div>

</ion-content>
