.ios, .md {

  page-history-views {

    p#info {
      font-size:12px;
      color:#000;
      font-weight: bold;
    }
    p#info span {
      font-size:10px;
      color:rgb(48, 68, 99);
    }

    p#infomohon {
      font-size:12px;
      color:#000;
      font-weight: bold;
    }
    p#infomohon span {
      font-size:10px;
      color:rgb(37, 63, 206);
    }

    p#infopass {
      font-size:12px;
      color:#000;
      font-weight: bold;
    }
    p#infopass span {
      font-size:10px;
      color:rgb(23, 145, 39);
    }

    p#infofail {
      font-size:12px;
      color:#000;
      font-weight: bold;
    }
    p#infofail span {
      font-size:10px;
      color:rgb(180, 33, 28);
    }

    .home-content {

      background: url('../../assets/imgs/page_bg_4.png') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .box {
        border-radius: 10px;
        padding: 1em;
        margin-left: 3px;
        margin-right: 3px;
        // flex: 1 1 300px;
        background-color: rgba(54, 54, 54, 0.322);

        h2 {
          font-weight: bold;
        }
      }

    }

  }

}
