<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">&nbsp;X&nbsp;</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content">

  <!-- --------------------------------------- TITLE BAR IPHONE ----------------------------------------- -->

  <p id="titlebar" *ngIf="plattype != 'ipad'" text-wrap text-center>
    History Viewer
  </p>

  <!-- --------------------------------------- TITLE BAR IPAD ----------------------------------------- -->

  <p id="titlebar-ipad" *ngIf="plattype == 'ipad'" text-wrap text-center>
    History Viewer
  </p>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <!-- lab reviews -->
  <div *ngIf="CAT == '1'">

    <div class="box">

      <p id="info" text-wrap text-left text-uppercase>LAB NAME<br><span>{{LABNAME}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>LAB TYPE<br><span>{{LABTYPE}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>BOOKING SESSION<br><span>{{SESI}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>ROOM NO.<br><span>{{ROOM}}</span></p>
      <p id="info" text-wrap text-left text-uppercase *ngIf="PEGAWAI1!=''">INCHARGE OFFICER I<br><span>{{PEGAWAI1}}</span></p>
      <p id="info" text-wrap text-left text-uppercase *ngIf="PEGAWAI2!=''">INCHARGE OFFICER II<br><span>{{PEGAWAI2}}</span></p>
      <p id="info" text-wrap text-left text-uppercase *ngIf="PENPEG1!=''">INCHARGE ASST. OFFICER I<br><span>{{PENPEG1}}</span></p>
      <p id="info" text-wrap text-left text-uppercase *ngIf="PENPEG2!=''">INCHARGE ASST. OFFICER II<br><span>{{PENPEG2}}</span></p>
      <p id="info" text-wrap text-left text-uppercase *ngIf="PEMMAKMAL1!=''">LAB ASSISTANT I<br><span>{{PEMMAKMAL1}}</span></p>
      <p id="info" text-wrap text-left text-uppercase *ngIf="PEMMAKMAL2!=''">LAB ASSISTANT II<br><span>{{PEMMAKMAL2}}</span></p>
      <hr>
      <p id="info" text-wrap text-left text-uppercase>APPLYING DATE<br><span>{{APPLYDATE}}</span></p>

      <p *ngIf="STATUS=='PENDING'" id="infomohon" text-wrap text-left text-uppercase>BOOKING DATE<br><span>{{BOOKDATE}}</span></p>
      <p *ngIf="STATUS=='APPROVED'" id="infopass" text-wrap text-left text-uppercase>BOOKING DATE<br><span>{{BOOKDATE}}</span></p>
      <p *ngIf="STATUS=='REJECTED' || STATUS=='CANCELLED BY APPLICANT' || STATUS=='CANCELLED BY ADMIN'" id="infofail" text-wrap text-left text-uppercase>BOOKING DATE<br><span>{{BOOKDATE}}</span></p>

      <p *ngIf="STATUS=='PENDING'" id="infomohon" text-wrap text-left text-uppercase>BOOKING STATUS<br><span>{{STATUS}}</span></p>
      <p *ngIf="STATUS=='APPROVED'" id="infopass" text-wrap text-left text-uppercase>BOOKING STATUS<br><span>{{STATUS}}</span></p>
      <p *ngIf="STATUS=='REJECTED' || STATUS=='CANCELLED BY APPLICANT' || STATUS=='CANCELLED BY ADMIN'" id="infofail" text-wrap text-left text-uppercase>BOOKING STATUS<br><span>{{STATUS}}</span></p>

      <p id="info" text-wrap text-left text-uppercase *ngIf="NOTE!=''">NOTE<br><span>{{NOTE}}</span></p>

    </div>

  </div>

  <!-- chemical reviews -->
  <div *ngIf="CAT == '2'">

    <div class="box">

      <p id="info" text-wrap text-left text-uppercase>CHEMICAL<br><span>{{CHEMICAL}}</span></p>
      <p *ngIf="NICKNAME!=''" id="info" text-wrap text-left text-uppercase>NICKNAME<br><span>{{NICKNAME}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>BRAND<br><span>{{BRAND}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>CHEMICAL TYPE<br><span>{{CHEMTYPE}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>CAMPUS<br><span>{{CAMPUS}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>DEPARTMENT<br><span>{{PTJ}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>LABORATORY<br><span>{{LAB}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>ROOM NO.<br><span>{{ROOMNO}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>QUANTITY<br><span>{{KUANTITI}}</span></p>
      <hr>
      <p id="info" text-wrap text-left text-uppercase>APPLYING DATE<br><span>{{APPLYDATE}}</span></p>

      <p *ngIf="STATUS=='PENDING'" id="infomohon" text-wrap text-left text-uppercase>BOOKING DATE<br><span>{{BOOKDATE}}</span></p>
      <p *ngIf="STATUS=='APPROVED'" id="infopass" text-wrap text-left text-uppercase>BOOKING DATE<br><span>{{BOOKDATE}}</span></p>
      <p *ngIf="STATUS=='REJECTED' || STATUS=='CANCELLED BY APPLICANT' || STATUS=='CANCELLED BY ADMIN'" id="infofail" text-wrap text-left text-uppercase>BOOKING DATE<br><span>{{BOOKDATE}}</span></p>

      <p *ngIf="STATUS=='PENDING'" id="infomohon" text-wrap text-left text-uppercase>BOOKING STATUS<br><span>{{STATUS}}</span></p>
      <p *ngIf="STATUS=='APPROVED'" id="infopass" text-wrap text-left text-uppercase>BOOKING STATUS<br><span>{{STATUS}}</span></p>
      <p *ngIf="STATUS=='REJECTED' || STATUS=='CANCELLED BY APPLICANT' || STATUS=='CANCELLED BY ADMIN'" id="infofail" text-wrap text-left text-uppercase>BOOKING STATUS<br><span>{{STATUS}}</span></p>

      <p id="info" text-wrap text-left text-uppercase *ngIf="NOTE!=''">NOTE<br><span>{{NOTE}}</span></p>

    </div>

  </div>

  <!-- consumable reviews -->
  <div *ngIf="CAT == '3'">

    <div class="box">

      <p id="info" text-wrap text-left text-uppercase>ITEM NAME<br><span>{{ITEMNAME}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>BRAND<br><span>{{BRAND}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>TYPE<br><span>{{CONSUMETYPE}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>CAMPUS<br><span>{{CAMPUS}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>LABORATORY<br><span>{{LAB}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>ROOM NO.<br><span>{{ROOMNO}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>QUANTITY<br><span>{{KUANTITI}}</span></p>
      <hr>
      <p id="info" text-wrap text-left text-uppercase>APPLYING DATE<br><span>{{APPLYDATE}}</span></p>

      <p *ngIf="STATUS=='PENDING'" id="infomohon" text-wrap text-left text-uppercase>BOOKING DATE<br><span>{{BOOKDATE}}</span></p>
      <p *ngIf="STATUS=='APPROVED'" id="infopass" text-wrap text-left text-uppercase>BOOKING DATE<br><span>{{BOOKDATE}}</span></p>
      <p *ngIf="STATUS=='REJECTED' || STATUS=='CANCELLED BY APPLICANT' || STATUS=='CANCELLED BY ADMIN'" id="infofail" text-wrap text-left text-uppercase>BOOKING DATE<br><span>{{BOOKDATE}}</span></p>

      <p *ngIf="STATUS=='PENDING'" id="infomohon" text-wrap text-left text-uppercase>BOOKING STATUS<br><span>{{STATUS}}</span></p>
      <p *ngIf="STATUS=='APPROVED'" id="infopass" text-wrap text-left text-uppercase>BOOKING STATUS<br><span>{{STATUS}}</span></p>
      <p *ngIf="STATUS=='REJECTED' || STATUS=='CANCELLED BY APPLICANT' || STATUS=='CANCELLED BY ADMIN'" id="infofail" text-wrap text-left text-uppercase>BOOKING STATUS<br><span>{{STATUS}}</span></p>

      <p id="info" text-wrap text-left text-uppercase *ngIf="NOTE!=''">NOTE<br><span>{{NOTE}}</span></p>

    </div>

  </div>

  <!-- instrument reviews -->
  <div *ngIf="CAT == '4'">

    <div class="box">

      <p id="info" text-wrap text-left text-uppercase>INSTRUMENT<br><span>{{INSTRUMENT}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>ID NO.<br><span>{{BARKOD}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>LOCATION<br><span>{{LOCATION}}</span></p>
      <p id="info" text-wrap text-left text-uppercase>INCHARGE OFFICER<br><span>{{PEGAWAI}}</span></p>
      <hr>
      <p id="info" text-wrap text-left text-uppercase>APPLYING DATE<br><span>{{APPLYDATE}}</span></p>

      <p *ngIf="STATUS=='PENDING'" id="infomohon" text-wrap text-left text-uppercase>BOOKING DATE<br><span>{{BOOKDATE}}</span></p>
      <p *ngIf="STATUS=='APPROVED'" id="infopass" text-wrap text-left text-uppercase>BOOKING DATE<br><span>{{BOOKDATE}}</span></p>
      <p *ngIf="STATUS=='REJECTED' || STATUS=='CANCELLED BY APPLICANT' || STATUS=='CANCELLED BY ADMIN'" id="infofail" text-wrap text-left text-uppercase>BOOKING DATE<br><span>{{BOOKDATE}}</span></p>

      <p *ngIf="STATUS=='PENDING'" id="infomohon" text-wrap text-left text-uppercase>BOOKING STATUS<br><span>{{STATUS}}</span></p>
      <p *ngIf="STATUS=='APPROVED'" id="infopass" text-wrap text-left text-uppercase>BOOKING STATUS<br><span>{{STATUS}}</span></p>
      <p *ngIf="STATUS=='REJECTED' || STATUS=='CANCELLED BY APPLICANT' || STATUS=='CANCELLED BY ADMIN'" id="infofail" text-wrap text-left text-uppercase>BOOKING STATUS<br><span>{{STATUS}}</span></p>

      <p id="info" text-wrap text-left text-uppercase *ngIf="NOTE!=''">NOTE<br><span>{{NOTE}}</span></p>

    </div>

  </div>

</ion-content>
