<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p [ngClass]="plattype != 'ipad' ? 'title': 'title-ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content list-avatar-page">

  <p [ngClass]="plattype != 'ipad' ? 'titlebar': 'titlebar-ipad'" text-wrap text-center>Instruments Reservations History</p>
  <p *ngIf="isLoading" [ngClass]="plattype != 'ipad' ? 'titlebar': 'titlebar-ipad'" text-wrap text-center><ion-spinner></ion-spinner></p>

  <ion-grid>
    <ion-row *ngIf="!isLoading && instrumentlist.length <= 0">
      <ion-col>
        <div>
          <p text-center><img src="../../assets/imgs/plant-svgrepo-com.svg" height="100px"></p>
          <p id="info" text-wrap text-center>You have not booked any instruments.</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let item of instrumentlist; let i = index;" [ngClass]="(i % 2 == 0) ? 'odd' : 'even evenfont'" col-12 col-xl-3 col-lg-4 col-md-6>

        <ion-card>

          <ion-card-content>
            <ion-card-title>
              <p id="info" text-wrap text-uppercase>{{item.INSTRUMENT}}<br><span>{{item.LOCATION}}</span></p>
            </ion-card-title>
            <p id="info" text-wrap text-uppercase>BOOK DATE : <span>{{item.BOOKDATE}}</span></p>
            <p *ngIf="item.STATUS=='PENDING'" id="infomohon" text-wrap text-uppercase>STATUS :<span>{{item.STATUS}}</span>
            </p>
            <p *ngIf="item.STATUS=='APPROVED'" id="infopass" text-wrap text-uppercase>STATUS :<span>{{item.STATUS}}</span></p>
            <p *ngIf="item.STATUS=='REJECTED' || item.STATUS=='CANCELLED BY APPLICANT' || item.STATUS=='CANCELLED BY ADMIN'" id="infofail" text-wrap text-uppercase>STATUS :<span>{{item.STATUS}}</span></p>
          </ion-card-content>

          <hr>

          <ion-grid>

            <ion-row no-padding>

              <ion-col text-start col-6>
                <button ion-button clear small color="danger" icon-start (click)="cancelBook(4, item.BOOKID)" *ngIf="(item.STATUS=='PENDING' || item.STATUS=='APPROVED') && !item.ISPAST">
                  <ion-icon name='trash-outline'></ion-icon>Cancel
                </button>
              </ion-col>

              <ion-col text-end col-6>
                <button ion-button clear small color="danger" icon-start (click)="openModal(
                    4,
                    item.INSTRUMENT,
                    item.BARKOD,
                    item.LOCATION,
                    item.PEGAWAI,
                    item.BOOKDATE,
                    item.APPLYDATE,
                    item.STATUS,
                    item.NOTE)">
                  <ion-icon name='information-circle-outline'></ion-icon>Details
                </button>
              </ion-col>

            </ion-row>

          </ion-grid>

        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
