.ios, .md {

    page-book-labs-3 {

      p#info {
        font-size:12px;
        color:#000;
        font-weight: bold;
      }
      p#info span {
        font-size:10px;
        color:rgb(119, 117, 117);
      }

      ion-card {
        position: relative;
        border-radius: 10px;
      }

      .telus{
        background-color: rgba(0, 0, 0, 0);
      }

      .home-content {

        background: url('../../assets/imgs/page_bg_4.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        .logo-row {
          padding-top: 5px;
          padding-bottom: 10px;
        }

        .digital-box-phone {
          background: rgba(133, 157, 192, 0.205);
          padding: 30px 20px 30px 20px;
          border-radius: 20px;
          margin: 0px 0px 0px 0px;
        }

        .digital-box {
          background: rgba(133, 157, 192, 0.205);
          padding: 30px 30px 30px 30px;
          border-radius: 20px;
          margin: 0px 50px 0px 50px;
        }

        ion-row {
          align-items: center;
          text-align: center;
        }

        ion-item {
        //   border-radius: 30px !important;
        //   padding-left: 30px !important;
        //   font-size: 0.9em;
          margin-bottom: 10px;
        //   border: 1px solid #ffffff;
        //   border-bottom: 0px !important;
        //   box-shadow: none !important;
        }

        .signup-col {
          margin: 0px 16px 0px 16px;
          padding-bottom: 0px;
        }

        .home-col {
          margin: 0px 16px 0px 16px;
          padding-bottom: 20px;
        }

        .item-inner {
          border-bottom-color: #ffffff !important;
          box-shadow: none !important;
        }

        .submit-btn {
          background-color: map-get($colors, primary);
          border-radius: 30px !important;
          border: 1px solid #ffffff;
        }

        .decline-btn {
            background-color: map-get($colors, dark);
            border-radius: 50px !important;
            border: 1px solid #ffffff;
        }

        .camera-btn {
          background-color: map-get($colors, secondary);
          border-radius: 30px !important;
          border: 1px solid #ffffff;
        }

        .home-btn {
          background-color: map-get($colors, dark);
          border-radius: 50px !important;
          border: 1px solid #ffffff;
        }

        .register-btn {
          color: #ffffff;
          font-size: 0.8em;
        }

        .hurufkecik{
          text-transform: lowercase;
        }

      }

      .title {
        text-align: center;
      }

      .cards {
        margin-top: 3em;
      }
    }

  }
