<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content">

  <!-- --------------------------------------- TITLE BAR IPHONE ----------------------------------------- -->

  <p id="titlebar" *ngIf="plattype != 'ipad'" text-wrap text-center>Laboratory Reservations</p>

  <!-- --------------------------------------- TITLE BAR IPAD ----------------------------------------- -->

  <p id="titlebar-ipad" *ngIf="plattype == 'ipad'" text-wrap text-center>Laboratory Reservations</p>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col col-6 *ngIf="plattype != 'ipad'"><img src="../../assets/imgs/anti-covid-logo.png" /></ion-col>
    <ion-col col-3 *ngIf="plattype == 'ipad'"><img src="../../assets/imgs/anti-covid-logo.png" /></ion-col>
    <ion-col></ion-col>
  </ion-row>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <div class="digital-box-phone" *ngIf="plattype != 'ipad'">

    <ion-label><p id="info">I hereby declared ;</p></ion-label>

    <ion-item class="telus">
      <ion-label><p id="info" text-wrap>I had undergone the surveilance test for Covid -19.</p></ion-label>
      <ion-toggle name="undergone" #undergone></ion-toggle>
    </ion-item>

    <ion-item class="telus">
      <ion-label><p id="info" text-wrap>The surveilance certificate is attached.</p></ion-label>
      <ion-toggle name="cert" #cert></ion-toggle>
    </ion-item>

    <ion-row no-padding>

      <ion-col text-left>
        <button ion-button class="decline-btn" icon-start (click)="back()">
            <ion-icon name='custom-back'></ion-icon>&nbsp;Back
        </button>
      </ion-col>

      <ion-col text-right>
        <button ion-button class="submit-btn" icon-end (click)="book()">
            <ion-icon name='bookmark'></ion-icon>&nbsp;Book!
        </button>
      </ion-col>

    </ion-row>

  </div>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <div class="digital-box" *ngIf="plattype == 'ipad'">

    <ion-label><p id="info">I hereby declared ;</p></ion-label>

    <ion-item class="telus">
      <ion-label><p id="info" text-wrap>I had undergone the surveilance test for Covid -19.</p></ion-label>
      <ion-toggle name="undergone" #undergone></ion-toggle>
    </ion-item>

    <ion-item class="telus">
      <ion-label><p id="info" text-wrap>The surveilance certificate is attached.</p></ion-label>
      <ion-toggle name="cert" #cert></ion-toggle>
    </ion-item>

    <ion-row no-padding>

      <ion-col text-left>
        <button ion-button class="decline-btn" icon-start (click)="back()">
            <ion-icon name='custom-back'></ion-icon>&nbsp;Back
        </button>
      </ion-col>

      <ion-col text-right>
        <button ion-button class="submit-btn" icon-end (click)="book()">
            <ion-icon name='bookmark'></ion-icon>&nbsp;Book!
        </button>
      </ion-col>

    </ion-row>

  </div>

</ion-content>
