// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #8d8c8c,
  secondary: #2e2e2e,
  danger: #861818,
  light: #24708a,
  dark: #232424,
  blackie: #000,
  success: rgb(0, 128, 0)
);

$menu-width: 70px;

p#titlebar {
  font-size:15px;
  color:rgb(54, 54, 54);
  font-weight: bold;
  letter-spacing: -1px;
  padding: 3px 0px 0px 0px;
}

p#titlebar-ipad {
  font-size:24px;
  color:#000;
  font-weight: bold;
  padding: 60px 0px 20px 0px;
  letter-spacing: -1px;
  margin: auto;
  overflow: auto;
}

p.titlebar {
  font-size:15px;
  color:rgb(54, 54, 54);
  font-weight: bold;
  letter-spacing: -1px;
  padding: 3px 0px 0px 0px;
}

p.titlebar-ipad {
  font-size:24px;
  color:#000;
  font-weight: bold;
  padding: 60px 0px 20px 0px;
  letter-spacing: -1px;
  margin: auto;
  overflow: auto;
}

.ibox {
  background: rgba(90, 90, 90, 0.151);
  border-radius: 20px;
  padding: 30px 30px 30px 30px;
  margin-top: 0px;
  margin: 0px 50px 0px 50px;
}

.ibox-phone {
  background: rgba(90, 90, 90, 0.151);
  border-radius: 20px;
  padding: 30px 10px 30px 10px;
  margin-top: 0px;
  margin: 0px 2px 0px 2px;
}

.clear-box-phone {
  background: rgba(90, 90, 90, 0);
  border-radius: 20px;
  padding: 30px 10px 30px 10px;
  margin-top: 0px;
  margin: 0px 2px 0px 2px;
}

.clear-box {
  background: rgba(90, 90, 90, 0);
  border-radius: 20px;
  padding: 30px 10px 30px 10px;
  margin-top: 0px;
  margin: 0px 50px 0px 50px;
}

.form-type {
  font-size: 10px;
  font-weight: bold;
}

.bgstyle1{
  // background: url('../assets/imgs/page-bg-batik.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-overflow-scrolling:touch; overflow:auto;
}

.imtransparent{
  background-color: rgba(0, 0, 0, 0);
}

.headerstyle1{
  background-color: rgba(224, 202, 2, 0.5);
  font-weight: bold;
  color: rgb(37, 37, 37);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tajukbesar {
  position: absolute;
  top: 36%;
  font-size: 2.0em;
  width: 100%;
  font-weight: bold;
  color: #fff;
}

.tajukkecik {
  font-size: 1.0em;
  position: absolute;
  top: 52%;
  width: 100%;
  color: #fff;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


p#losinfo {
  font-size:12px;
  color:#000;
  font-weight: bold;
}
p#losinfo span {
  font-size:10px;
  color:rgb(119, 117, 117);
}

#profile-image {
  display: block;
  border-radius: 50px;
  border: 1px solid #fff;
  margin: 30px auto 0;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
  background-size: cover;
}

p#title {
  font-size:12px;
  color:rgb(66, 66, 66);
  font-weight: bold;
  padding: 10px, 10px, 10px, 10px;
}
p#title span {
  font-size:10px;
  color:rgb(119, 117, 117);
}

p#title-ipad {
  font-size:16px;
  color:rgb(66, 66, 66);
  font-weight: bold;
  padding: 10px, 10px, 10px, 10px;
}
p#title-ipad span {
  font-size:10px;
  color:rgb(119, 117, 117);
}

p.title {
  font-size:12px;
  color:rgb(66, 66, 66);
  font-weight: bold;
  padding: 10px, 10px, 10px, 10px;
}
p.title span {
  font-size:10px;
  color:rgb(119, 117, 117);
}

p.title-ipad {
  font-size:16px;
  color:rgb(66, 66, 66);
  font-weight: bold;
  padding: 10px, 10px, 10px, 10px;
}
p.title-ipad span {
  font-size:10px;
  color:rgb(119, 117, 117);
}

ion-header {
  background-color: map-get($colors, primary);
}

.ios {
  ion-header {
    ion-title {
      padding-inline-start: 0;
      padding-inline-end: 0;
      text-align: center;

    }
  }
}


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
