<!-- <ion-header style="display: -webkit-box;">
  <button menuToggle ion-button icon-only persistent='true'>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>
    <p id="title" text-left>smartLAB™ History</p>
  </ion-title>
</ion-header> -->

<ion-content padding class="bgstyle1">

  <ion-tabs [selectedIndex]="myIndex">
    <ion-tab [root]="tab1Root" tabTitle="Lab" tabIcon="cube"></ion-tab>
    <ion-tab *ngIf="isStaff" [root]="tab2Root" tabTitle="Chemical" tabIcon="flask"></ion-tab>
    <ion-tab *ngIf="isStaff" [root]="tab3Root" tabTitle="Consumable" tabIcon="beaker"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Instrument" tabIcon="pricetags"></ion-tab>
  </ion-tabs>

</ion-content>
