<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">

  <!-- <iframe
    style="width:400px; height:700px; position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"
    src="http://online.fliphtml5.com/hemou/pzbl/" seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true"
    allowfullscreen="true"></iframe> -->

  <div *ngIf="plattype != 'ipad'" class="ibox-phone">
    <ion-card (click)="viewModule()">
      <img src="../../assets/imgs/safety-bg.jpg" />
      <div class="card-title">Safety Module</div>
      <div class="card-subtitle">click to view</div>
    </ion-card>
  </div>

  <div *ngIf="plattype == 'ipad'" class="ibox">
    <ion-card (click)="viewModule()">
      <img src="../../assets/imgs/safety-bg.jpg" />
      <div class="card-title">Safety Module</div>
      <div class="card-subtitle">click to view</div>
    </ion-card>
  </div>

</ion-content>
