.ios, .md {

  page-history-consumable {

    p#info {
      font-size:12px;
      color:#000;
      font-weight: bold;
    }
    p#info span {
      font-size:12px;
      color:rgb(119, 117, 117);
    }

    p#infomohon {
      font-size:12px;
      color:#000;
      font-weight: bold;
    }
    p#infomohon span {
      font-size:12px;
      color:rgb(37, 63, 206);
    }

    p#infopass {
      font-size:12px;
      color:#000;
      font-weight: bold;
    }
    p#infopass span {
      font-size:12px;
      color:rgb(23, 145, 39);
    }

    p#infofail {
      font-size:12px;
      color:#000;
      font-weight: bold;
    }
    p#infofail span {
      font-size:12px;
      color:rgb(180, 33, 28);
    }

    ion-card {
      position: relative;
      border-radius: 10px;
    }

    .home-content {

      background: url('../../assets/imgs/page_bg_4.png') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

    }

  }

}
