<ion-content padding class="bgstyle1">

  <ion-tabs [selectedIndex]="myIndex">
    <ion-tab [root]="tab1Root" tabTitle="Report" tabIcon="custom-osha"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="History" tabIcon="custom-osha-history"></ion-tab>
  </ion-tabs>

</ion-content>
