<ion-menu [content]="content">

  <!-- <ion-header>
    <ion-toolbar>
      <ion-grid class="headerbg">

        <ion-row>
          <ion-col col-1>&nbsp;</ion-col>
          <ion-col col-10><br><img src="../assets/imgs/smartlab_logo.png"><br>&nbsp;</ion-col>
          <ion-col col-1>&nbsp;</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-12>
            <p id="losinfo" text-center text-wrap><span>{{ namauser }}</span></p>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-toolbar>
  </ion-header> -->

  <ion-content class="menubg">
    <br><br><br>
    <ion-list class="menulist">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="imtransparent">
        <ion-icon item-left [name]="p.icon" color="dark" style="zoom:1.2;" *ngIf="plattype!='ipad'"></ion-icon>
        <ion-icon item-left [name]="p.icon" color="dark" style="zoom:1.8;" *ngIf="plattype=='ipad'"></ion-icon>
        <!-- <p id="menustyle">{{p.title}}</p> -->
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
