// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.imtransparent{
  background-color: rgba(0, 0, 0, 0);
}

/* .ios .tabs .tabbar, .md .tabs .tabbar{
  width: 100%;
  height: 70px;
}

$tabs-ios-tab-font-size: 15px !default;
$tabs-md-tab-font-size: 15px !default;
$tabs-md-tab-font-size-active: 15px !default; */

p#losinfo {
  font-size:12px;
  color:#000;
  font-weight: bold;
}
p#losinfo span {
  font-size:10px;
  color:rgb(119, 117, 117);
}

p#menustyle {
  font-size:12px;
  color:#000;
}
p#menustyle span {
  font-size:10px;
  color:rgb(119, 117, 117);
}

.headerbg{
  background: url('../assets/imgs/header-white-bg.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menubg{
  background: url('../assets/imgs/menu-bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.menulist{
  padding: 50px, 50px, 50px, 50px, !important;
}

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-back"] {
    mask-image: url('../assets/icon/custom-go-back-arrow.svg');
  }
  &[class*="custom-submit"] {
    mask-image: url('../assets/icon/custom-heart.svg');
  }
  &[class*="custom-osha"] {
    mask-image: url('../assets/icon/custom-medical-kit.svg');
  }
  &[class*="custom-osha-history"] {
    mask-image: url('../assets/icon/custom-osha-history.svg');
  }
  &[class*="custom-add-user"] {
    mask-image: url('../assets/icon/custom-add-user.svg');
  }
  &[class*="custom-safetymod"] {
    mask-image: url('../assets/icon/custom-safetymod.svg');
  }
  &[class*="custom-sop"] {
    mask-image: url('../assets/icon/custom-sop.svg');
  }
  &[class*="custom-msds"] {
    mask-image: url('../assets/icon/custom-msds.svg');
  }
  &[class*="custom-login"] {
    mask-image: url('../assets/icon/custom-login.svg');
  }
  &[class*="custom-exit"] {
    mask-image: url('../assets/icon/custom-exit.svg');
  }
  &[class*="custom-home"] {
    mask-image: url('../assets/icon/custom-home.svg');
  }
  &[class*="custom-stamp"] {
    mask-image: url('../assets/icon/custom-stamp.svg');
  }
  &[class*="custom-banned"] {
    mask-image: url('../assets/icon/custom-banned.svg');
  }
  &[class*="custom-approve"] {
    mask-image: url('../assets/icon/custom-approve.svg');
  }
  &[class*="custom-personal-info"] {
    mask-image: url('../assets/icon/custom-personal-info.svg');
  }
  &[class*="custom-external-user"] {
    mask-image: url('../assets/icon/custom-ext-user.svg');
  }
  &[class*="custom-road-pin"] {
    mask-image: url('../assets/icon/custom-road-pin.svg');
  }
  &[class*="custom-qrcode"] {
    mask-image: url('../assets/icon/custom-qrcode.svg');
  }
  &[class*="custom-flask"] {
    mask-image: url('../assets/icon/custom-flask.svg');
  }
  &[class*="custom-complaint"] {
    mask-image: url('../assets/icon/custom-complaint.svg');
  }
  &[class*="custom-lab"] {
    mask-image: url('../assets/icon/custom-labs.svg');
  }
  &[class*="custom-data"] {
    mask-image: url('../assets/icon/custom-data.svg');
  }
  &[class*="custom-booking"] {
    mask-image: url('../assets/icon/custom-booking.svg');
  }
  &[class*="custom-helpdesk"] {
    mask-image: url('../assets/icon/custom-helpdesk.svg');
  }
}
