<!--
  Generated template for the ApproverViewConsumablesFilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <p [ngClass]="plattype != 'ipad' ? 'title': 'title-ipad'">UniSZA smartLAB™</p>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content cards-bg">
  <ion-grid>
    <ion-row>
      <ion-col>
        <p [ngClass]="plattype != 'ipad' ? 'titlebar': 'titlebar-ipad'" text-wrap text-center>Filter Bookings</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>{{ bookingStatusIsLoading ? '' : 'Booking Status'}}<ion-spinner *ngIf="bookingStatusIsLoading"></ion-spinner></ion-label>
            <ion-select interface="action-sheet" [(ngModel)]="filterBookingStatus" (ionChange)="filterBookingStatusUpdated()" [disabled]="bookingStatusIsLoading || storeIsLoading || itemIsLoading">
              <ion-option *ngFor="let option of bookingStatusOptions" [value]="option.id" text-wrap>{{option.name}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>{{ storeIsLoading ? '' : 'Store Name'}}<ion-spinner *ngIf="storeIsLoading"></ion-spinner></ion-label>
            <ionic-selectable
              text-wrap
              item-content
              #store
              class="selectableview"
              [(ngModel)]="filterStore"
              [items]="storeOptions"
              itemValueField="id"
              itemTextField="name"
              [canSearch]="true"
              (onChange)="filterStoreUpdated($event)"
              [disabled]="bookingStatusIsLoading || storeIsLoading || itemIsLoading">
            </ionic-selectable>
          </ion-item>
          <ion-item>
            <ion-label>{{ itemIsLoading ? '' : 'Item Name'}}<ion-spinner *ngIf="itemIsLoading"></ion-spinner></ion-label>
            <ionic-selectable
              text-wrap
              item-content
              #item
              class="selectableview"
              [(ngModel)]="filterItem"
              [items]="itemOptions"
              itemValueField="id"
              itemTextField="name"
              [canSearch]="true"
              (onChange)="filterItemUpdated($event)"
              [disabled]="bookingStatusIsLoading || storeIsLoading || itemIsLoading">
            </ionic-selectable>
          </ion-item>
          <ion-item>
            <ion-label stacked>Applicant's National ID / Student No.</ion-label>
            <ion-input [(ngModel)]="filterNationalId" [disabled]="bookingStatusIsLoading || storeIsLoading || itemIsLoading"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Min. Booking Date</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="startDate" (ionChange)="startDateChanged()" [disabled]="bookingStatusIsLoading || labIsLoading || instrumentIsLoading"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Max. Booking Date</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="endDate" (ionChange)="endDateChanged()" [min]="startDate ? startDate : null" [disabled]="bookingStatusIsLoading || labIsLoading || instrumentIsLoading"></ion-datetime>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-start>
        <button ion-button class="submit-btn" icon-start (click)="search()" [disabled]="bookingStatusIsLoading || storeIsLoading || itemIsLoading">
          <ion-icon name='search'></ion-icon>Search
        </button>
      </ion-col>
      <ion-col text-end>
        <button ion-button class="decline-btn" icon-start (click)="clearInput()">
          <ion-icon name='close'></ion-icon>Clear
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
