<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeMe()">&nbsp;X&nbsp;</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="bgstyle1">

  <!-- {{ebookURL}} -->

  <iframe
    style="width:400px; height:700px; position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"
    [src]="ebookURL | safe" seamless="seamless" scrolling="no" frameborder="0"
    allowtransparency="true" allowfullscreen="true"></iframe>

</ion-content>
