<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p [ngClass]="plattype != 'ipad' ? 'title': 'title-ipad'">UniSZA smartLAB™</p>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content cards-bg">

  <ion-grid *ngIf="isLoading && bookings.length <= 0">
    <ion-row>
      <ion-col text-center>
        <ion-spinner color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="isFilter">
    <ion-row>
      <ion-col>
        <h3 text-start>Filtering bookings based on:</h3>
        <p text-start *ngIf="statusIdFilter">Booking Status: <strong>{{ translateStatusCode(statusIdFilter) }}</strong></p>
        <p text-start *ngIf="storeFilter.id">Store Name: <strong>{{ storeFilter.name }}</strong></p>
        <p text-start *ngIf="chemicalFilter.id">Chemical Name: <strong>{{ chemicalFilter.name }}</strong></p>
        <p text-start *ngIf="nationalIdFilter">National ID / Student No.: <strong>{{ nationalIdFilter }}</strong></p>
        <p text-start *ngIf="startDateFilter">Min. Booking Date: <strong>{{ startDateFilter }}</strong></p>
        <p text-start *ngIf="endDateFilter">Max. Booking Date: <strong>{{ endDateFilter }}</strong></p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!isLoading && bookings.length <= 0">
    <p text-center><img src="../../assets/imgs/plant-svgrepo-com.svg" height="100px"></p>
    <p id="info" text-wrap text-uppercase text-center>THERE ARE NO BOOKING APPLICATIONS AT THE MOMENT</p>
  </div>

  <ion-list *ngIf="bookings.length > 0">
    <!-- <ion-item *ngFor="let booking of bookings">{{booking.labName}}</ion-item> -->
    <ion-item detail-push *ngFor="let booking of bookings" (click)="bookingDetails(booking)">
      <!-- <div item-start>
        <p>{{booking.booking.date}}</p>
        <h2>{{booking.lab.name}}</h2>
        <p>{{booking.lab.roomNumber}}</p>
      </div>
      <div item-end>
        <p [ngClass]="getStatusClass(booking.booking.status)">{{booking.booking.status}}</p>
      </div> -->

      <ion-grid no-padding>
        <ion-row>
          <ion-col text-start>
            <p>{{booking.booking.date}}</p>
            <h2 text-wrap text-justify>{{booking.chemical.name}}</h2>
            <p>{{booking.booking.chemicalQty}} ({{booking.booking.chemicalUnit}})</p>
            <p [ngClass]="getStatusClass(booking.booking.status)">{{booking.booking.status}}</p>
          </ion-col>
          <!-- <ion-col no-padding text-start>
            <p [ngClass]="getStatusClass(booking.booking.status)">{{booking.booking.status}}</p>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
 
  <ion-infinite-scroll (ionInfinite)="getMoreBookings($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
