<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <p [ngClass]="plattype != 'ipad' ? 'title': 'title-ipad'">UniSZA smartLAB™</p>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content">

  <p [ngClass]="plattype != 'ipad' ? 'titlebar': 'titlebar-ipad'" text-wrap text-center>Consumable Reservations</p>

  <div [ngClass]="plattype != 'ipad' ? 'ibox-phone': 'ibox'">
    <ion-calendar [events]="currentEvents" (onDaySelect)="onDaySelect($event)"></ion-calendar>
  </div>

  <ion-grid *ngIf="isPIC">
    <ion-row text-center>
      <ion-col col-12>
        <button ion-button class="submit-btn" icon-start (click)="viewBookings()">
          <ion-icon name='search'></ion-icon>View Bookings
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
