<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">&nbsp;X&nbsp;</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-content">

  <!-- --------------------------------------- TITLE BAR IPHONE ----------------------------------------- -->

  <p id="titlebar" *ngIf="plattype != 'ipad'" text-wrap text-center>
    Labs Review
  </p>

  <!-- --------------------------------------- TITLE BAR IPAD ----------------------------------------- -->

  <p id="titlebar-ipad" *ngIf="plattype == 'ipad'" text-wrap text-center>
    Labs Review
  </p>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <div class="digital-box" *ngFor="let info of infos">

    <p id="info" *ngIf="info.LABNAME!=''" text-wrap text-left text-uppercase>LAB NAME<br><span>{{info.LABNAME}}</span></p>
    <p id="info" *ngIf="info.TYPENAME!=''" text-wrap text-left text-uppercase>LAB TYPE<br><span>{{info.TYPENAME}}</span></p>
    <p id="info" *ngIf="info.ROOMNO!=''" text-wrap text-left text-uppercase>ROOM NO.<br><span>{{info.ROOMNO}}</span></p>
    <p id="info" *ngIf="info.STATUS!=''" text-wrap text-left text-uppercase>STATUS<br><span>{{info.STATUS}}</span></p>
    <hr>
    <p id="info" *ngIf="info.IDPEG1!=''" text-wrap text-left text-uppercase>OFFICER<br><span>{{info.PEG1}}</span></p>
    <p id="info" *ngIf="info.IDPEG2!=''" text-wrap text-left text-uppercase>OFFICER II<br><span>{{info.PEG2}}</span></p>
    <p id="info" *ngIf="info.IDPENPEG1!=''" text-wrap text-left text-uppercase>ASSISTANT OFFICER<br><span>{{info.PENPEG1}}</span></p>
    <p id="info" *ngIf="info.IDPENPEG2!=''" text-wrap text-left text-uppercase>ASSISTANT OFFICER II<br><span>{{info.PENPEG2}}</span></p>
    <p id="info" *ngIf="info.IDPEMMAKMAL1!=''" text-wrap text-left text-uppercase>LAB ASSISTANT<br><span>{{info.PEMMAKMAL1}}</span></p>
    <p id="info" *ngIf="info.IDPEMMAKMAL2!=''" text-wrap text-left text-uppercase>LAB ASSISTANT II<br><span>{{info.PEMMAKMAL2}}</span></p>

  </div>

  <br>

  <div>

    <ion-slides class="to-top" pager>
      <ion-slide><img src="https://portal.unisza.edu.my/modules/smartlab/lab_images/{{LABID}}/001.jpg" alt=""
          class="img-slide"></ion-slide>
      <ion-slide><img src="https://portal.unisza.edu.my/modules/smartlab/lab_images/{{LABID}}/002.jpg" alt=""
          class="img-slide"></ion-slide>
      <ion-slide><img src="https://portal.unisza.edu.my/modules/smartlab/lab_images/{{LABID}}/003.jpg" alt=""
          class="img-slide"></ion-slide>
      <ion-slide><img src="https://portal.unisza.edu.my/modules/smartlab/lab_images/{{LABID}}/004.jpg" alt=""
          class="img-slide"></ion-slide>
      <ion-slide><img src="https://portal.unisza.edu.my/modules/smartlab/lab_images/{{LABID}}/005.jpg" alt=""
          class="img-slide"></ion-slide>
    </ion-slides>

  </div>

  <br>

  <div #map id="map"></div>

  <!-- <ion-row no-padding> -->
    <!-- <ion-col text-right>
      <button ion-button color="danger" icon-start (click)="navigateLocation(LAT, LNG)">
        <ion-icon name='custom-road-pin'></ion-icon>&nbsp;Open in Maps
      </button>
    </ion-col> -->

    <!-- <ion-col text-right *ngIf="plat=='ios'">
      <a href="{{urlios}}" target="_system"><button ion-button color="danger" icon-start>
        <ion-icon name='custom-road-pin'></ion-icon>&nbsp;Open in Maps
      </button></a>
    </ion-col>

    <ion-col text-right *ngIf="plat=='android'">
      <a href="{{urlandroid}}" target="_system"><button ion-button color="danger" icon-start>
        <ion-icon name='custom-road-pin'></ion-icon>&nbsp;Open in Maps
      </button></a>
    </ion-col> -->

  <!-- </ion-row> -->

  <br>&nbsp;

</ion-content>
