<ion-content padding class="bgstyle1">

  <ion-tabs [selectedIndex]="myIndex">
    <ion-tab [root]="tab1Root" tabTitle="QR Code" tabIcon="megaphone"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Labs List" tabIcon="flask"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="History" tabIcon="list"></ion-tab>
  </ion-tabs>

</ion-content>
