<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <p id="title" *ngIf="plattype != 'ipad'">UniSZA smartLAB™</p>
      <p id="title-ipad" *ngIf="plattype == 'ipad'">UniSZA smartLAB™</p>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">&nbsp;X&nbsp;</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- --------------------------------------- TITLE BAR IPHONE ----------------------------------------- -->

  <p id="titlebar" *ngIf="plattype != 'ipad'" text-wrap text-center>
    GUIDELINES FOR THE PREVENTION AND TO CONTROL THE SPREAD OF COVID-19 DISEASE AMONG THE STAFFS AND LAB USERS IN
    CENTRALISED LABORATORY MANAGEMENT CENTRE (CLMC)
  </p>

  <!-- --------------------------------------- TITLE BAR IPAD ----------------------------------------- -->

  <p id="titlebar-ipad" *ngIf="plattype == 'ipad'" text-wrap text-center>
    GUIDELINES FOR THE PREVENTION AND TO CONTROL THE SPREAD OF COVID-19 DISEASE AMONG THE STAFFS AND LAB USERS IN
    CENTRALISED LABORATORY MANAGEMENT CENTRE (CLMC)
  </p>

  <!-- --------------------------------------------------------------------------------------------------- -->

  <!-- <p id="info" text-center>GUIDELINES FOR THE PREVENTION AND TO CONTROL THE SPREAD OF COVID-19 DISEASE AMONG THE STAFFS AND LAB USERS IN CENTRALISED LABORATORY MANAGEMENT CENTRE (CLMC)</p> -->

  <hr>

  <p id="info" text-justify><span>All the Centralised Lab Management Centre (CLMC) staff and lab users who will begin their hand-on learning and research session must comply to the precautionary and control steps as follows:</span></p>

  <p id="info" text-justify><span>
    <ol>
      <li>All the staff and lab user are obligated to fill the CHaSE (link: chase.unisza.edu.my) before entering the CLMC office building or lab.</li>
      <li>Individual with the COVID-19 symptom is NOT ALLOWED to be in the office or laboratory area.</li>
      <li>All students have to undergo a COVID-19 screening test before being allowed to use the lab.</li>
      <li>Please use a face-mask if symptomatic.</li>
      <li>Please cover the mouth with tissue during coughing / sneezing, and dispose of the tissue in a special bin (labeled separately). Please Wash your hand after coughing / sneezing.</li>
      <li>Lab users are required to wash their hands with soap before and after using the lab. The hand washing stations are provided in each lab.</li>
      <li>Avoid touching your eyes, nose or mouth with unwashed hands.</li>
      <li>Maintain at least one (1) meter distance between yourself and others (regardless symptomatic or not).</li>
      <li>Avoid 3C (Crowded place, confined space & Close conversation).</li>
      <li>When dealing with the CLMC administrative office;</li>
        <ol class="la">
          <li>Wash your hands with a hand sanitizer before and after dealing at the counter.</li>
          <li>Fill out the personal information in the registration book provided on the counter.</li>
          <li>Any business is restricted to the counter only except with the permission or request from CLMC to do so.</li>
          <li>Only two (2) students / visitors are allowed to interact at a certain time.</li>
          <li>Notify staff about your health status (if requested).<br>&nbsp;</li>
        </ol>
      <li>Use of research laboratory (graduate and final year students);</li>
        <ol class="la">
          <li>All previously granted access to the lab is automatically canceled. A new application to use the lab must be made starting on May 31, 2020 using the CLMC form (Laboratory Application Form During Covid-19, form no.: CLMC/16/2020-00). Only the approved laboratories will be allowed to use.</li>
          <li>The maximum number of students for research laboratories is limited to five (5) persons at a time (for all research and graduate labs at all three Campuses).</li>
          <li>All laboratory applications, bookings or consultations are recommended using online approaches such as websites, WhatsApp applications, SMS or telephone only.</li>
          <li>Once the application is approved, students will need to register at the counter provided by CLMC and undergo a body temperature test before entering the lab on a daily basis. Students who do not comply with the health requirements will not allowed to remain in the laboratory area.<br>&nbsp;</li>
        </ol>
      <li>Use of laboratory for teaching and learning (PdP) purposes;</li>
        <ol class="la">
          <li>The number of students will be limited to each practical session according to the capacity of the laboratory space at a time as follows:<br>
            <ion-grid>
              <ion-row>
                <ion-col col-6 class="tablehead">Laboratory</ion-col>
                <ion-col col-6 class="tablehead">Limit number of students</ion-col>
              </ion-row>

              <ion-row>
                  <ion-col col-6 class="tablebody1">Teaching laboratory (capacity 50/ 40/ 30/ 25 person)</ion-col>
                  <ion-col col-6 class="tablebody1">25/ 20/ 15/ 12</ion-col>
              </ion-row>

              <ion-row>
                  <ion-col col-6 class="tablebody2">Research Laboratory/ Preparation room</ion-col>
                  <ion-col col-6 class="tablebody2">5</ion-col>
              </ion-row>
            </ion-grid>
            <br>&nbsp;
          </li>
        </ol>
      <li>Each decision is subject to the rules set by the National Security Council (MKN).</li>
    </ol>
  </span></p>

  <hr>

  <p id="info" text-center>"Together we prevent the spread of COVID-19 infection by adopting new norms"</p>

  <br>

  <p id="info" text-center>Kita Jaga Kita</p>

  <br><br>&nbsp;

</ion-content>
