.ios, .md {

  page-approving-consumable {

    .home-content {

      background: url('../../assets/imgs/page_bg_4.png') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      .box {
        border-radius: 10px;
        padding: 1em;
        margin-left: 3px;
        margin-right: 3px;
        // flex: 1 1 300px;
        background-color: rgba(54, 54, 54, 0.322);

        h2 {
          font-weight: bold;
        }
      }

      ion-item {
        border-radius: 10px !important;
        // padding-left: 30px !important;
        padding: 10px 10px 15px 10px;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #ffffff;
        border-bottom: 0px !important;
        box-shadow: none !important;
      }

      .submit-btn {
        background-color: map-get($colors, primary);
        border-radius: 30px !important;
        border: 1px solid #ffffff;
      }

      .decline-btn {
        background-color: map-get($colors, dark);
        border-radius: 50px !important;
        border: 1px solid #ffffff;
      }

    }

  }

}
